<View xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><EngineName>Razor</EngineName><FileExtension>.cshtml</FileExtension><UserName>admin</UserName><DataRules><DataRuleSetting><DataName>Categories</DataName><DataRule i:type="a:FolderDataRule" xmlns:a="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataRule"><a:WhereClauses i:nil="true"/><a:SortField>Sequence</a:SortField><a:SortDirection>Descending</a:SortDirection><a:PageIndex i:nil="true"/><a:PageSize i:nil="true"/><a:Top>50</a:Top><a:FolderName>Category</a:FolderName><a:CategoryFolderName/><a:CategoryClauses i:nil="true"/></DataRule><TakeOperation>List</TakeOperation><CachingDuration>0</CachingDuration></DataRuleSetting></DataRules><Plugins xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><Parameters/></View>