<?xml version="1.0"?>
<menu>
  <items>
    <add name="Setting" text="Security Setting" action="Index" controller="Setting"></add>
    <add name="Users" text="Users" action="Index" controller="Users"></add>
    <add name="Roles" text="Roles" action="Index" controller="Roles"></add>
  </items>
</menu>