<nav class="nav">
  <ul>
  @foreach (var item in MenuHelper.Top())
  {    
      if (item.Navigation.Show)
      {
          <li class ='@(MenuHelper.IsCurrent(item) ? "active" : "")'>@Html.FrontHtml().PageLink(item.LinkText, item.FullName)</li>
      }
  }
    
    <li><a href="@Url.FrontUrl.ViewUrl("Menu")">view</a></li>
  </ul>
</nav>
