<div class="hide" data-bind="foreach:{data:$root.DataRuleList,as:'$dataRule'}">
    <input type="hidden" data-bind="value:$dataRule.DataRule.DataRuleType,attr:{name:'DataRules['+$index()+'].DataRule.DataRuleType'}" />
    <input type="hidden" data-bind="value:$dataRule.TakeOperation,attr:{name:'DataRules['+$index()+'].TakeOperation'}" />
    <input type="hidden" data-bind="value:$dataRule.DataRule.FolderName,attr:{name:'DataRules['+$index()+'].DataRule.FolderName'}" />
    <!-- ko foreach:{data:$dataRule.DataRule.WhereClauses,as:'$filter'} -->
    <input type="hidden" data-bind="value:$filter.Logical,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.WhereClauses['+$index()+'].Logical'}" />
    <input type="hidden" data-bind="value:$filter.FieldName,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.WhereClauses['+$index()+'].FieldName'}" />
    <input type="hidden" data-bind="value:$filter.Operator,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.WhereClauses['+$index()+'].Operator'}" />
    <input type="hidden" data-bind="value:$filter.Value1,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.WhereClauses['+$index()+'].Value1'}" />
    <input type="hidden" data-bind="value:$filter.Value2,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.WhereClauses['+$index()+'].Value2'}" />
    <!-- /ko -->
    <!-- ko foreach:{data:$dataRule.DataRule.CategoryClauses,as:'$filter'} -->
    <input type="hidden" data-bind="value:$filter.Logical,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.CategoryClauses['+$index()+'].Logical'}" />
    <input type="hidden" data-bind="value:$filter.FieldName,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.CategoryClauses['+$index()+'].FieldName'}" />
    <input type="hidden" data-bind="value:$filter.Operator,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.CategoryClauses['+$index()+'].Operator'}" />
    <input type="hidden" data-bind="value:$filter.Value1,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.CategoryClauses['+$index()+'].Value1'}" />
    <input type="hidden" data-bind="value:$filter.Value2,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.CategoryClauses['+$index()+'].Value2'}" />
    <!-- /ko -->
  
    <input type="hidden" data-bind="value:$dataRule.DataName,attr:{name:'DataRules['+$index()+'].DataName'}" />
    <input type="hidden" data-bind="value:$dataRule.DataRule.Top,attr:{name:'DataRules['+$index()+'].DataRule.Top'}" />
    <input type="hidden" data-bind="value:$dataRule.DataRule.EnablePaging,attr:{name:'DataRules['+$index()+'].DataRule.EnablePaging'}" />
    <input type="hidden" data-bind="value:$dataRule.DataRule.PageSize,attr:{name:'DataRules['+$index()+'].DataRule.PageSize'}" />
    <input type="hidden" data-bind="value:$dataRule.DataRule.PageIndex,attr:{name:'DataRules['+$index()+'].DataRule.PageIndex'}" />
    <input type="hidden" data-bind="value:$dataRule.DataRule.CategoryFolderName,attr:{name:'DataRules['+$index()+'].DataRule.CategoryFolderName'}" />
    <input type="hidden" data-bind="value:$dataRule.DataRule.SortField,attr:{name:'DataRules['+$index()+'].DataRule.SortField'}" />
    <input type="hidden" data-bind="value:$dataRule.DataRule.SortDirection,attr:{name:'DataRules['+$index()+'].DataRule.SortDirection'}" />

    <input type="hidden" data-bind="value:$dataRule.DataRule.URL,attr:{name:'DataRules['+$index()+'].DataRule.URL'}" />
    <input type="hidden" data-bind="value:$dataRule.DataRule.HttpMethod,attr:{name:'DataRules['+$index()+'].DataRule.HttpMethod'}" />
    <input type="hidden" data-bind="value:$dataRule.DataRule.ContentType,attr:{name:'DataRules['+$index()+'].DataRule.ContentType'}" />
    <input type="hidden" data-bind="value:$dataRule.DataRule.ResponseType,attr:{name:'DataRules['+$index()+'].DataRule.ResponseType'}" />
    <!-- ko foreach:{data:$dataRule.DataRule.FormData,as:'data'} -->
    <input type="hidden" data-bind="value:data.Key,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.FormData['+$index()+'].Key'}" />
    <input type="hidden" data-bind="value:data.Value,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.FormData['+$index()+'].Value'}" />
    <!-- /ko -->
    <!-- ko foreach:{data:$dataRule.DataRule.Headers,as:'data'} -->
    <input type="hidden" data-bind="value:data.Key,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.Headers['+$index()+'].Key'}" />
    <input type="hidden" data-bind="value:data.Value,attr:{name:'DataRules['+$parentContext.$index()+'].DataRule.Headers['+$index()+'].Value'}" />
    <!-- /ko -->    
</div>
