<routeTable>
    <ignores>
        <add name="axd" url="{resource}.axd/{*pathInfo}"/>
        <add name="aspx" url="{*allaspx}">
            <constraints allaspx =".*\.(aspx)(/.*)?" />
        </add>
       
        <add name="cssjsimages" url="{*images}">
            <constraints images =".*\.(css|swf|flv)(/.*)?"/>
        </add>
        <add name="favicon" url="{*favicon}">
            <constraints favicon="(.*/)?favicon.ico(/.*)?"/>
        </add>
        <!--<add name="allfiles" url="{*allfiles}">
            <constraints allfiles=".*\.(.*)(/.*)?"/>
        </add>-->
    </ignores>
    <routes>
        <add name="Default" url="{controller}/{action}/{id}" routeType="Kooboo.CMS.Sites.Extension.ModuleArea.ModuleRoute,Kooboo.CMS.Sites">
            <defaults controller = "Home" action = "Index" id="0"></defaults>
            <dataTokens Namespaces="Kooboo.CMS.ModuleArea3.Controllers"/>
        </add>
    </routes>
</routeTable>
