<div>
    <h3 class="title">@Html.Raw(ViewBag.Product.ProductId ?? "")</h3>
    <div class="content">   
        <div>@Html.Raw(ViewBag.Product.Name ?? "")</div>
        <div>@Html.Raw(ViewBag.Product.Keywords ?? "")</div>
    </div>
</div>