<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2013-04-25T09:31:13.4167234Z</LastUpdateDate>
	<CacheToDisk>false</CacheToDisk>
	<RequireHttps>false</RequireHttps>
	<IsDefault>false</IsDefault>
	<EnableTheming>true</EnableTheming>
	<EnableScript>true</EnableScript>
	<HtmlMeta>
		<Author></Author>
		<Keywords></Keywords>
		<Description></Description>
		<Customs xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<HtmlTitle>Search</HtmlTitle>
		<Canonical></Canonical>
	</HtmlMeta>
	<Route>
		<Identifier></Identifier>
		<RoutePath></RoutePath>
		<Defaults xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ExternalUrl></ExternalUrl>
		<LinkTarget i:nil="true" />
	</Route>
	<Navigation>
		<Show>false</Show>
		<DisplayText></DisplayText>
		<Order>4</Order>
		<ShowInCrumb>true</ShowInCrumb>
	</Navigation>
	<Permission>
		<AllowGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<AuthorizeMenu>false</AuthorizeMenu>
		<RequireMember>false</RequireMember>
		<UnauthorizedUrl i:nil="true" />
	</Permission>
	<Layout>two_column</Layout>
	<PagePositions>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>A245W</PagePositionId>
			<LayoutPositionId>main</LayoutPositionId>
			<Order>0</Order>
			<ViewName>Article.Search</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>LXFE9</PagePositionId>
			<LayoutPositionId>sidebar</LayoutPositionId>
			<Order>0</Order>
			<ViewName>Article.Category</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
	</PagePositions>
	<DataRules />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<PageType>Default</PageType>
	<OutputCache>
		<Duration>0</Duration>
		<EnableCaching>false</EnableCaching>
		<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
	</OutputCache>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Published>true</Published>
	<UserName>admin</UserName>
	<ContentTitle></ContentTitle>
	<Searchable>false</Searchable>
</Page>