<?xml version="1.0"?>
<menu>
  <items>
    <add name="MembershipUser" text="Members" action="Index" controller="MembershipUser" visible="true"  initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Member" permissionGroup="" permissionName="Membership"></add>
    <add name="MembershipGroup" text="Groups" action="Index" controller="MembershipGroup" visible="true"  initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Member" permissionGroup="" permissionName="Membership"></add>
    <add name="MembershipConnect" text="Connects" action="Index" controller="MembershipConnect" visible="true"  initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Member" permissionGroup="" permissionName="Membership"></add>
  </items>
</menu>