<TextFolder xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Name>Article</Name><DisplayName/><UtcCreationDate>0001-01-01T00:00:00</UtcCreationDate><UserId i:nil="true"/><NamePaths xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><a:string>Article</a:string></NamePaths><SchemaName>Article</SchemaName><Categories><CategoryFolder><FolderName>Category</FolderName><SingleChoice>false</SingleChoice></CategoryFolder></Categories><CategoryFolders xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><EmbeddedFolders xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><a:string>Comment</a:string></EmbeddedFolders><WorkflowName i:nil="true"/><Roles i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><OrderSetting><FieldName>Sequence</FieldName><Direction>Descending</Direction></OrderSetting></TextFolder>