@using Kooboo.CMS.Web.Areas.Membership
<div class="topbar block sitemanager clearfix">
    <a class="right" href="@Url.Action("Index", new { controller = "Membership", area = "Member" })" title="@("Memberships".Localize())">
        <h6 class="title">@("Memberships".Localize())</h6>
    </a>
</div>

<nav class="container block menu">
    @Html.Partial("Menu", Kooboo.Web.Mvc.Menu.MenuFactory.BuildMenu(ViewContext.Controller.ControllerContext, "Membership").SetMembership(this.ViewContext))
</nav>
