@if (Model != null)
{ 
<div>
	<h3 class="title" @ViewHelper.Edit(Model,"title")>@Html.Raw(Model.title ?? "")</h3>
	<div class="content">
		<div @ViewHelper.Edit(Model,"content")>@Html.Raw(Model.content ?? "")</div>
	</div>
</div>
}