/*
[Contents]

	0- Global
	1- Links
	2- Content(For tinymce)
	3- Fontface
*/

/* =0 Global
---------------------------------------------------------------------------------------------------------------------*/
body {
	font: 12px/1.5 "Segoe UI", "Helvetica Neue", openSansRegular, Arial, Helvetica, sans-serif;
	overflow-y: scroll;
	min-width: 1024px;
}

body.blank {
	overflow: auto;
}

.hide {
	display: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}
/* Clearfix */
.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
/* for IE6 */
*html .clearfix {
	zoom: 1;
}
/* for IE7 */
* + html .clearfix {
	zoom: 1;
}
/* =1 Links
---------------------------------------------------------------------------------------------------------------------*/
a {
	color: #0078B1;
	cursor: pointer;
	text-decoration: none;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

a.action {
	display: inline-block;
}

a.action.hide {
	display: none;
}

a.button {
	background: #0078B1;
	color: #FFF;
	display: inline-block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	min-width: 80px;
	padding: 0 10px;
	text-align: center;
}

a.button.gray {
	background: #CCC;
	color: #000;
}

a.button.white {
	background: #FFF;
	color: #333;
}

a.button.upload {
	position: relative;
}

a.button.upload span {
	filter: alpha(opacity=0);
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;
}

a.button.upload input {
	cursor: pointer;
	font-size: 32px;
	height: 100px;
	position: absolute;
	right: 0;
	top: 0;
}

.dropdown-button {
	background: #0078B1;
	cursor: pointer;
	display: inline-block;
	min-width: 140px;
	position: relative;
	white-space: nowrap;
}

.dropdown-button span {
	border-right: 1px solid #FFF;
	color: #FFF;
	display: block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin-right: 30px;
	padding: 0 10px;
	position: relative;
	text-align: center;
	z-index: 3;
}

.dropdown-button .icon {
	position: absolute;
	right: 7px;
	top: 7px;
}

.dropdown-button.active .icon {
	background-position: -145px -64px;
}

.dropdown-button ul {
	background: #FFF;
	border: 2px solid #0078B1;
	cursor: default;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	left: 0;
	min-width: 100%;
	position: absolute;
	top: 28px;
}

.dropdown-button li {
	color: #999;
	cursor: not-allowed;
	font-style: italic;
	line-height: 2;
	padding: 0 10px;
	text-align: left;
}

.dropdown-button li a {
	color: #000;
	display: block;
	font-style: normal;
	margin: 0 -10px;
	padding: 0 10px;
}

.dropdown-button li a:hover {
	background: #DDD;
}

/* =2 Content(For Tinymce)
---------------------------------------------------------------------------------------------------------------------*/
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	font-weight: bold;
	margin-bottom: 15px;
}

.content h1 {
	font-size: 2em;
}

.content h2 {
	font-size: 1.5em;
}

.content h3 {
	font-size: 1.17em;
}

.content h4 {
	font-size: 1em;
}

.content h5 {
	font-size: 0.83em;
}

.content h6 {
	font-size: 0.75em;
}

.content p {
	margin-bottom: 10px;
}

.content pre {
	padding: 8px;
}

.content ol,
.content ul {
	margin-bottom: 10px;
	padding-left: 20px;
}

.content ol li {
	list-style: decimal outside;
}

.content ul li {
	list-style: disc outside;
}

/* =3 Fontface
---------------------------------------------------------------------------------------------------------------------*/
@font-face {
	font-family: 'openSansLight';
	src: url('fonts/opensans-light-webfont.eot');
	src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-light-webfont.woff') format('woff'), url('fonts/opensans-light-webfont.ttf') format('truetype'), url('fonts/opensans-light-webfont.svg#openSansLight') format('svg');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'openSansRegular';
	src: url('fonts/opensans-regular-webfont.eot');
	src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-regular-webfont.woff') format('woff'), url('fonts/opensans-regular-webfont.ttf') format('truetype'), url('fonts/opensans-regular-webfont.svg#openSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
