/* jQuery Dialog
----------------------------------------------------------*/
.ui-widget-overlay {
	background: #000;
	bottom: 0;
	filter: alpha(opacity=30);
	left: 0;
	opacity: 0.3;
	position: absolute;
	right: 0;
	top: 0;
}

.ui-dialog {
	background: #ddd;
	left: 0 !important;
	padding: 0;
	width: 100% !important;
}

.ui-dialog-titlebar {
	display: none;
}

.ui-dialog .ui-dialog-content {
	background: #FFF !important;
	margin: 0 auto;
	max-height: 540px !important;
	overflow-y: hidden !important;
	padding: 20px 20px 0 20px;
	width: 770px !important;
}

.iframe-dialog .ui-dialog-content {
	overflow: hidden;
	padding: 0;
}

.ui-dialog.warning-dialog,
.ui-dialog.warning-dialog .ui-dialog-content {
	background: #D32B28;
	color: #FFF;
}