/*
[Contents]

	0     Global
	1     Header
	2     Message Box
	3     Main Container
	3.1   Main
	3.2   Sidebar
	4     Footer
*/

/* =0 Global
---------------------------------------------------------------------------------------------------------------------*/

/* =1 Header
---------------------------------------------------------------------------------------------------------------------*/
#header {
	margin-bottom: 15px;
	min-width: 790px;
}
.logo {
	float: left;
	margin: 10px 0 10px 25px;
}

/* =2 Message Box
---------------------------------------------------------------------------------------------------------------------*/
#message-box {
	margin-bottom: 15px;
	min-width: 790px;
	width: 100%;
}

/* =3 Main Container
---------------------------------------------------------------------------------------------------------------------*/
#main-container {
	margin: 0 10px 20px;
	min-width: 790px;
}

/* =3.1 Main
---------------------------------------------------------------------------------------------------------------------*/
#main {
	float: right;
	margin-left: -200px;
	width: 100%;
}
#main .inner-main {
	margin-left: 210px;
	min-height: 300px;
	min-width: 500px;
	position: relative;
}
/* Tabel Container */
.table-container {
	margin-bottom: 10px;
}

/* =3.2 Sidebar
---------------------------------------------------------------------------------------------------------------------*/
#sidebar {
	float: left;
	position: relative;
	width: 200px;
	z-index: 999;
}
/* Menu & Block */
.menu, #sidebar .block {
	margin-bottom: 15px;
}
.menu {
	margin-top: 10px;
}

/* =4 Footer
---------------------------------------------------------------------------------------------------------------------*/
#footer {
	min-width: 790px;
}
