<?xml version="1.0" encoding="utf-8"?>
<ABPageSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.ABTest">
	<ABTestGoalPage>Articles~Detail</ABTestGoalPage>
	<Items>
		<ABPageRuleItem>
			<PageName>about</PageName>
			<RuleItemName>Firefox</RuleItemName>
		</ABPageRuleItem>
		<ABPageRuleItem>
			<PageName></PageName>
			<RuleItemName>iPhone</RuleItemName>
		</ABPageRuleItem>
	</Items>
	<MainPage>Articles</MainPage>
	<RuleName>Mobile</RuleName>
</ABPageSetting>