<?xml version="1.0" encoding="utf-8"?>
<Workflow xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Models">
	<Name>Workflow</Name>
	<Items>
		<WorkflowItem>
			<DisplayName>step1</DisplayName>
			<RoleName>Content manager</RoleName>
			<Sequence>1</Sequence>
		</WorkflowItem>
		<WorkflowItem>
			<DisplayName>step2</DisplayName>
			<RoleName>Publisher</RoleName>
			<Sequence>2</Sequence>
		</WorkflowItem>
	</Items>
</Workflow>