<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="AccountName" value="devstoreaccount1"/>
    <add key="AccountKey" value="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="/>
    <add key="BaseUri" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="HmacAuthorization" type="Kooboo.CMS.Content.FileServer.Web.HmacAuthorizationConfigurationSection, Kooboo.CMS.Content.FileServer.Web"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Kooboo.CMS.Content.FileServer.Web.Services.MediaFolderService" behaviorConfiguration="RESTBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="FileTransferServicesBinding" contract="Kooboo.CMS.Content.FileServer.Interfaces.IMediaFolderService" behaviorConfiguration="WebEndpointBehavior"/>
      </service>
      <service name="Kooboo.CMS.Content.FileServer.Web.Services.MediaContentService" behaviorConfiguration="RESTBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="FileTransferServicesBinding" contract="Kooboo.CMS.Content.FileServer.Interfaces.IMediaContentService" behaviorConfiguration="WebEndpointBehavior"/>
      </service>
      <service name="Kooboo.CMS.Content.FileServer.Web.Services.TextContentFileService" behaviorConfiguration="RESTBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="FileTransferServicesBinding" contract="Kooboo.CMS.Content.FileServer.Interfaces.ITextContentFileService" behaviorConfiguration="WebEndpointBehavior"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="FileTransferServicesBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RESTBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebEndpointBehavior">
          <webHttp/>
          <HmacAuthorization/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
</configuration>