<?xml version="1.0" encoding="utf-8"?>
<User xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.Connect">
	<Name>publisher</Name>
	<Profile i:nil="true" />
	<Membership>
		<Password>V5LjQ4mYovPgF4vUHyt8PWVFxo8=</Password>
		<PasswordSalt>TyUCwLcmhaLR57GoMzXaBA==</PasswordSalt>
		<PasswordQuestion i:nil="true" />
		<PasswordAnswer i:nil="true" />
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<CreateDate>2013-02-25T13:56:36.8116728+08:00</CreateDate>
		<LastLoginDate i:nil="true" />
		<LastPasswordChangedDate i:nil="true" />
		<LastLockoutDate i:nil="true" />
		<FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
		<FailedPasswordAttemptWindowStart i:nil="true" />
		<FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount>
		<FailedPasswordAnswerAttemptWindowStart i:nil="true" />
		<Comment i:nil="true" />
	</Membership>
	<Email>publisher@kooboo.com</Email>
</User>