<ModuleInfo xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Extension.ModuleArea" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <ModuleName>HelloWorld</ModuleName>
  <Version>4.3.0.0</Version>
  <KoobooCMSVersion>4.3.0.0</KoobooCMSVersion>
  <InstallingTemplate>Views/Shared/_OnInstalling.cshtml</InstallingTemplate>
  <UninstallingTemplate>Views/Shared/_OnUninstalling.cshtml</UninstallingTemplate>
  <ReinstallingTemplate>Views/Shared/_OnReinstalling.cshtml</ReinstallingTemplate>
  <DefaultSettings>
    <CustomSettings xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
      <a:KeyValueOfstringstring>
        <a:Key>Setting1</a:Key>
        <a:Value>Value1</a:Value>
      </a:KeyValueOfstringstring>
    </CustomSettings>
    <Entry>
      <Action>Index</Action>
      <Controller>Home</Controller>
      <LinkToEntryName></LinkToEntryName>
      <Name>Home</Name>
    </Entry>
    <ThemeName>Default</ThemeName>
  </DefaultSettings>
  <!--<EntryOptions>
    <EntryOption>
      <Entry>
        <Action>Index</Action>
        <Controller>Home</Controller>
        <LinkToEntryName></LinkToEntryName>
        <Name>Home</Name>
      </Entry>
      <Name>Home</Name>
    </EntryOption>
  </EntryOptions>-->

</ModuleInfo>