@model dynamic
@{ 
    var layoutList = (IEnumerable<Layout>)(ViewData["LayoutList"]);

    var model = (RouteValueDictionary)Model;
}
<ul>
    @if (layoutList.Count() == 0)
    { 
        <li><a >@("Add a layout first".Localize())</a></li>
    }
    @foreach (var l in layoutList)
    {
        <li>@Html.ActionLink(l.Name, "Create", "Page", model.Merge("Layout", l.Name), new RouteValueDictionary())  </li>
    }
</ul>
