<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="unsecureHttpBinding" messageEncoding="Mtom" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transferMode="Streamed" maxBufferSize="65536" maxReceivedMessageSize="67108864">
        </binding>
        <binding name="secureHttpBinding" messageEncoding="Mtom" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transferMode="Streamed" maxBufferSize="65536" maxReceivedMessageSize="67108864">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="enableMetadata">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Kooboo.CMS.Modules.CMIS.WcfExtensions.UserValidator,Kooboo.CMS.Modules.CMIS"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Kooboo.CMS.Modules.CMIS.Services.Implementation.Service" behaviorConfiguration="enableMetadata">
        <!--<endpoint address="" contract="Kooboo.CMS.Modules.CMIS.Services.IService" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" />
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpsBinding" />-->
        <endpoint address="" binding="basicHttpBinding"  contract="Kooboo.CMS.Modules.CMIS.Services.IService" bindingConfiguration="unsecureHttpBinding"  />
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"/>
      </service>
    </services>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="api/cmis.svc" service="Kooboo.CMS.Modules.CMIS.Services.Implementation.Service" factory="Kooboo.CMS.Modules.CMIS.WcfExtensions.DIServiceHostFactory,Kooboo.CMS.Modules.CMIS" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
</configuration>