<div class="block loading">
    <div class="layer"></div>
    <div class="wrap">
        <span>@("Loading".Localize())</span>
        <img src="~/Images/loading.gif" />
    </div>
</div>
<div class="block notification">
    <a class="close">@Html.IconImage("close")</a>
    <p></p>
</div>
