<p>
    @("Powered by Kooboo CMS".Localize())
    @Kooboo.CMS.Sites.KoobooCMSVersion.Version | &copy; 2009-@System.DateTime.Now.Year <a href="http://www.kooboo.com"
        target="_blank">@("Kooboo team".Localize())</a></p>
