/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0px;
	padding: 0px;
	color: #f0ece5;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	line-height:1.5em; 
	background-color: #fff;
	background-image: url(images/templatemo_body.jpg);
	background-repeat: repeat;
}

a, a:link, a:visited {
	font-size:13px;
	color: #fff;
	text-decoration: underline;
}

a:hover {
	color: #FF0;
	text-decoration: none;
}

p { margin: 0px; padding: 0 0 10px 0; }
img { border: none; }

h1 { font-size: 40px; font-weight: bold; margin: 0 0 30px 0; padding: 5px 0; color: #000; }
h2 { font-size: 28px; font-weight: normal; line-height: 28px; margin: 0 0 20px 0; padding: 0; color: #ffbe3d; }
h3 { font-size: 21px; margin: 0 0 10px 0; padding: 0; padding: 0; font-weight: normal; }
h4 { font-size: 18px; margin: 0 0 20px 0; padding: 0; color: #ffbe3d;}
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; color:#ffbe3d; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; color:#000;}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.image_wrapper {
	display: inline-block;
	padding: 8px;
	border: 1px solid #999;
	background: #ffffff;
	margin-bottom: 10px;
}
.fl_img {
	float: left;
	margin: 3px 30px 15px 0;
}
.fr_img {
	float: right;
	margin: 3px 0 15px 15px;
}

blockquote { font-style: italic; margin-left: 10px;}
cite { font-weight: bold; color:#3b3823; }
cite span { color: #696443; }
em { color: #fff; }

.button a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.button a span {
	font-size: 18px;
	margin-right: 10px;
	color: #ff9000;
}

.button a:hover {
	color: #ff9000;
}

/* header */

#templatemo_header_wrapper {
	width: 100%;
	height: 130px;
	background: url(images/templatemo_header.png) repeat-x bottom;
}

#templatemo_header {
	width: 910px;
	height: 99px;
	padding: 0 30px;
	margin: 0 auto;
}


#templatemo_header  #site_title {
	float: left;
	width: 250px;
	padding: 28px 0 0 0px;
}

#templatemo_header  #site_title a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #000;
	font-weight: normal;
	text-decoration: none;
}

#templatemo_header  #site_title a span {
	display: block;
	text-align: left;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	margin-left: 5px;
}

/* menu */

#templatemo_menu {
	float: right;
	margin-top: 45px;
	display: inline-block;
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu li {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	padding: 3px 0;
	margin-left: 30px;
	font-size: 18px;
	color: #000;	

	text-align: center;
	text-decoration: none;
	font-weight: bold;
	outline: none;
	border: none;
}

#templatemo_menu ul li a:hover,  #templatemo_menu ul li.current a {
	color: #fff;
	border-bottom: 3px solid #fff;
	text-shadow: 1px 1px 1px #555;
}

#templatemo_menu ul .last {
	background: none;
}
/* end of menu */

/* end of header */

/* featured content */

#templatemo_featured_content_wrapper {
	width: 100%;
	height: 365px;
	margin: 0 auto;
	background: url(images/templatemo_featured_slider.png) repeat-x top;
}

#templatemo_featured_content {
	position: relative;
	width: 950px;
	height: 205px;
	margin: 0 auto;
	padding: 60px 10px 100px 10px;
}

#templatemo_featured_content .nav_bg {
	position: absolute;
	bottom: 55px;
	left: 30px;
	width: 91px;
	height: 33px;
	background: url(images/templatemo_slider_nav_bg.png) no-repeat;
}

#templatemo_top_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: url(images/templatemo_featured_slider.png) repeat-x bottom;

}

#templatemo_top {
	width: 910px;
	margin: 0 auto;
	padding: 30px 30px 60px;
}

#templatemo_top p {
	line-height: 30px;
	font-size: 20px;
}

/* end of featured content */

#templatemo_middle_wrapper {
	clear: both;
	width: 910px;
	margin: 0 auto;
	padding: 20px 30px;
}

#content_wrapper {
	float: left;
	width: 590px;
}

.content_box {
	padding: 20px 30px;
	background: url(images/content.png) repeat-y;
}

.content_box_top {
	width: 590px;
	height: 10px;
	background: url(images/content_top.png) no-repeat;
}

.content_box_bottom {
	width: 590px;
	height: 10px;
	margin-bottom: 20px;
	background: url(images/content_bottom.png) no-repeat;
}

#sidebar_wrapper {
	float: right;
	width: 300px;
}

.sidebar {
	padding: 20px 30px;
	background: url(images/sidebar.png) repeat-y;
}

.sidebar_top {
	width: 300px;
	height: 10px;
	background: url(images/sidebar_top.png) no-repeat;
}

.sidebar_bottom {
	width: 300px;
	height: 10px;
	margin-bottom: 20px;
	background: url(images/sidebar_bottom.png) no-repeat;
}

.col_w590 {
	float: left;
	width: 590px;
	margin-right: 50px;
}

.col_w270 {
	float: left;
	width: 270px;
	margin-right: 50px;
}

.col_w270_last {
	margin-right: 0;
}

.post_section h2 {
	margin: 0;
	padding: 10px 0 10px 0;
	line-height: 30px;
}

.post_section .post_meta {
	background: #383023;
	padding: 2px 10px;
	border-bottom: 1px solid #262017;
}

.post_section p {
	text-align: justify;
	margin-bottom: 20px;
}

.post_section img {
	clear: both;
	padding: 5px; border: 1px solid #dddddd;
	background: #eeeeee;
	display: inline-block;
	margin: 20px 0;
}

.post_section .category {
	float: left;
	width: 300px;
}

.post_section .comment {
	position: absolute;
	top: -10px;
	right: 0px;
	width: 70px;
	height: 42px;
	text-align: center;
	padding-top: 10px;
	font-size: 16px;
	font-weight: bold;
	background: url(images/templatemo_comment.png) no-repeat;
}

.post_section .more a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.post_section .more span {
	font-size: 20px;
	margin-right: 10px;
	color: #ff9000;
}

.post_section .more a:hover {
	color: #ff9000;
}

.post_section .comment a {
	color: #333;
	text-decoration: none;
}

.comment_tab {
	padding: 10px 0 30px 0;
	margin: 0 0 30px 0;;
	border-bottom: 1px dashed #fff;
	font-size: 20px;
	font-weight: bold;
}

#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 500px;
}

.first_level {
	margin: 0; padding: 0;
}

.comments {
	list-style: none; 
}

.comments li { margin-bottom: 10px; list-style:none; }
.comments li .commentbox1 { border: 1px solid #342c21;  background: #483e30; }
.comments li .commentbox2 { border: 1px solid #342c21;  background: #483e30; }

.comments li .button a span { font-size: 22px; }
.comments li .comment_box { clear: both; width:100%; padding: 15px;  }
.comment_box .gravatar { float: left; width: 50px; border: 1px solid #fff; margin-right: 15px; background: #fff; }
.comment_box .gravatar img { margin: 0; width: 50px; height: 50px; }
.comment_box .comment_text { margin: 0 0 0 65px; }

.comment_box .comment_text p { margin: 0; }
.comment_text .comment_author { font-size: 14px; font-weight: bold; color: #ffbe3d; margin-bottom: 10px; }
.comment_text .date { font-size: 12px; font-weight: normal; color: #c4b49e; padding-left: 10px; }
.comment_text .time { font-size: 12px; font-weight: normal; color: #c4b49e; padding-left: 10px; }
.comment_text .reply a { display: block; clear: both; float: right; padding: 1px 10px; height: 24px; text-align: center; background: #3694ab; border: 1px solid #fff; color: #fff; } 

#comment_form {
	clear: both;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#comment_form form {
	padding: 20px;
	background: #352c21;
	border: 1px solid #1d1811;
}

#comment_form textarea {
	background: #483e30 none repeat fixed 0 0;
	border: 1px solid #342c21;
	display:block;
	font-size:1.1em;
	height:150px;
	margin-top:5px;
	padding:5px;
	width: 360px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	margin-top: 5px;
	padding: 3px 10px;
	width: 200px;
	background:#483e30 none repeat fixed 0 0;
	border: 1px solid #342c21;
}

#comment_form .submit_btn {
	width: 80px;
	color: #ff9000;
}

.sidebar_menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar_menu li {
	margin: 0 0 5px;
	padding: 2px 0 5px;
	border-bottom: 1px dashed #fff;
}

.sidebar_menu li a {
	text-decoration: none;
}

.sidebar_menu li a:hover {
	padding-left: 5px;
}

.recent_comment_box {
	padding: 0 0 15px;
	margin: 0 0 15px;
	border-bottom: 1px dashed #fff;
}

.recent_comment_box a {
	color: #ff7d3d;
	font-weight: bold;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
}

#contact_form form .input_field {
	width: 350px;
	padding: 6px 0;
	background: #fff;
	border: 1px solid #ccc;
}

#contact_form form label {
	display: block;
	width: 100px;
	margin-right: 10px;
	font-size: 14px;	
}

#contact_form form textarea {
	width: 350px;
	height: 200px;
	background: #fff;
	border: 1px solid #ccc;
}

#contact_form form .submit_btn {
	margin-left: 110px;
}

.service_box {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px dashed #fff;
}

.service_box img {
	float: left;
	width: 48px;
	height: 48px;
}

.service_box .right {
	float: right;
	width: 460px;
}

.service_box ol li {
	list-style: decimal-leading-zero;
	margin-bottom: 5px;
}

/* gallery */

	#gallery {
	clear: both;
	}
	
	#gallery a {
		border: none;
	}
	#gallery ul { list-style: none; margin: 0; padding: 0; }
	#gallery ul li {
		padding: 0 0 30px 0;
		margin: 0 0 30px 0;
		border-bottom: 1px dashed #fff;
	}
	
	#gallery ul li .left {
		float: left;
		width: 200px;
	}
	
	#gallery ul li .left img {
		width: 180px;
		height: 100px;
		border: 5px solid #fff;
	}
	
	#gallery ul li .right {
		float: right;
		width: 310px;
	}
	 
/* end of gallery */

/* end of featured content */

/* footer */

#templatemo_footer_wrapper {
	width: 100%;
	background: url(images/templatemo_footer.png) repeat-x top;
	border-bottom: 1px solid #5e5544;
}

#templatemo_footer {
	width: 910px;
	margin: 0 auto;
	padding: 80px 30px 30px;
	color: #fff;
}

#templatemo_footer h4 {
	color: #fff;
}

#templatemo_footer ul { padding: 0; margin: 0; list-style: none; }

#templatemo_footer li { padding: 0; margin: 0 0 5px 0; }

#templatemo_footer li a {
	display: block;
	color: #ccc;
	text-decoration: none;
	 border-bottom: 1px dotted #fff;
}

#templatemo_footer li a:hover {
	color: #fff;
}

#templatemo_footer .last {
	padding-right: 0;
}

/* social */

#social_box {

	margin: 20px 0;
	padding: 0;
	list-style: none;
}

#social_box li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

#social_box li a {
	width: 48px;
	height: 48px;
	margin-right: 5px;
	text-decoration: none;
	border: none;
}

/* end of social */

/* end of featured content */

/* copyright */

#templatemo_copyright_wrapper {
	width: 100%;
	color: #ccc;
	background: #191611;
	border-top: 1px solid #000;
}

#templatemo_copyright {
	width: 910px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 30px;
}

/* end of copyright */