@model IPagedList<Kooboo.CMS.Search.Models.ResultObject>
<div class="block list">
    @foreach (var item in Model)
    {
        <div class="item">
            <h6 class="title"><a href='@item.Url'>@Html.Raw(item.HighlightedTitle)</a></h6>
            <p>@Html.Raw(item.HighlightedBody)</p>
        </div>
    }
</div>
@{
    var pageOption = new PagerOptions
    {
        NextPageText = "Next »",
        PrevPageText = "« Previous",
        CssClass = "pagination",
        PageIndexParameterName = "pageIndex",
        CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>",
        NavigationPagerItemWrapperFormatString = "<span class=\"pagenavigation\">{0}</span>"
    };
}
@Html.FrontHtml().Pager(Model, pageOption)