<?xml version="1.0" encoding="utf-8"?>
<Repository xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Models">
	<ShowHiddenFolders>false</ShowHiddenFolders>
	<StrictContentPermission>false</StrictContentPermission>
	<DisplayName></DisplayName>
	<EnableBroadcasting>true</EnableBroadcasting>
	<EnableCustomTemplate>false</EnableCustomTemplate>
	<UserKeyReplacePattern>[^\w\d_-]+</UserKeyReplacePattern>
	<UserKeyHyphens>-</UserKeyHyphens>
	<EnableVersioning>true</EnableVersioning>
	<EnableWorkflow>true</EnableWorkflow>
</Repository>