@using Kooboo.CMS.Web.Areas.Contents
<nav class="block menu">
    @Html.Partial("Menu", Kooboo.Common.Web.Menu.MenuFactory.BuildMenu(ViewContext.Controller.ControllerContext).SetCurrentRepository(this.ViewContext))
</nav>

