@add: "0 0 26px 26px";
@angle-right-white: "0 -26px 5px 9px";
@back: "0 -35px 26px 26px";
@c-sharp: "0 -61px 16px 16px";
@caret-down-black: "0 -77px 7px 4px";
@caret-down-blue: "0 -81px 19px 9px";
@caret-hollow-right-black: "0 -90px 6px 9px";
@caret-hollow-right-gray: "0 -99px 6px 9px";
@caret-rightbottom-black: "0 -108px 6px 6px";
@caret-rightbottom-gray: "0 -114px 6px 6px";
@caret-toggle: "0 -120px 7px 10px";
@caret-up-black: "0 -130px 7px 4px";
@checkbox-checked-disabled: "0 -134px 15px 15px";
@checkbox-checked: "0 -149px 15px 15px";
@checkbox-disabled: "0 -164px 15px 15px";
@checkbox: "0 -179px 15px 15px";
@chevron-circle-down: "0 -194px 16px 16px";
@chevron-circle-up: "0 -210px 16px 16px";
@chevron-down-black: "0 -226px 8px 6px";
@chevron-down-gray: "0 -232px 8px 6px";
@chevron-down-white: "0 -238px 8px 6px";
@chevron-left-black: "0 -244px 6px 8px";
@chevron-left-gray: "0 -252px 6px 8px";
@chevron-left-white: "0 -260px 6px 8px";
@chevron-right-black: "0 -268px 6px 8px";
@chevron-right-gray: "0 -276px 6px 8px";
@chevron-right-white: "0 -284px 6px 8px";
@chevron-up-black: "0 -292px 8px 6px";
@chevron-up-gray: "0 -298px 8px 6px";
@chevron-up-white: "0 -304px 8px 6px";
@clock: "0 -310px 16px 16px";
@cluster: "0 -326px 17px 16px";
@cross-mini-black: "0 -342px 8px 8px";
@cross-mini-white: "0 -350px 8px 8px";
@cross-small-red: "0 -358px 12px 12px";
@cross-white: "0 -370px 14px 14px";
@delete: "0 -384px 26px 26px";
@drag: "0 -410px 6px 18px";
@edit-small: "0 -428px 16px 16px";
@edit: "0 -444px 26px 26px";
@export: "0 -470px 26px 26px";
@file-doc: "0 -496px 16px 16px";
@file-empty: "0 -512px 16px 16px";
@file-image: "0 -528px 16px 16px";
@flip-x: "0 -544px 26px 22px";
@flip-y: "0 -566px 22px 26px";
@folder-add: "0 -592px 26px 26px";
@folder-blue: "0 -618px 16px 13px";
@folder-white: "0 -631px 16px 13px";
@global-small: "0 -644px 13px 12px";
@grid-gray: "0 -656px 20px 14px";
@grid-white: "0 -670px 20px 14px";
@home-gray: "0 -684px 32px 14px";
@home-white: "0 -698px 32px 14px";
@import: "0 -712px 26px 26px";
@inline-edit: "0 -738px 16px 16px";
@input: "0 -754px 26px 26px";
@insert-page: "0 -780px 16px 16px";
@insert: "0 -796px 16px 16px";
@layout: "0 -812px 14px 12px";
@list-gray: "0 -824px 17px 14px";
@list-white: "0 -838px 17px 14px";
@localize: "0 -852px 26px 26px";
@media-library: "0 -878px 15px 15px";
@minus-black: "0 -893px 14px 14px";
@minus-mini: "0 -907px 11px 11px";
@minus-small: "0 -918px 16px 16px";
@minus-white: "0 -934px 14px 14px";
@minus: "0 -948px 28px 28px";
@module: "0 -976px 12px 12px";
@new-tag-blue: "0 -988px 16px 16px";
@new-tag-small-blue: "0 -1004px 9px 9px";
@next-small: "0 -1013px 16px 16px";
@next: "0 -1029px 26px 26px";
@page-ab-testing: "0 -1055px 17px 17px";
@page-inherited: "0 -1072px 17px 17px";
@page-static: "0 -1089px 17px 17px";
@page-unsynchronized: "0 -1106px 17px 17px";
@plus-black: "0 -1123px 14px 14px";
@plus-mini: "0 -1137px 11px 11px";
@plus-small: "0 -1148px 16px 16px";
@plus-white: "0 -1164px 14px 14px";
@plus: "0 -1178px 28px 28px";
@preview: "0 -1206px 26px 26px";
@profile: "0 -1232px 11px 12px";
@radio-checked-disabled: "0 -1244px 14px 14px";
@radio-checked: "0 -1258px 14px 14px";
@radio-disabled: "0 -1272px 14px 14px";
@radio: "0 -1286px 14px 14px";
@redo-blue: "0 -1300px 15px 13px";
@redo-gray: "0 -1313px 15px 13px";
@refresh-blue: "0 -1326px 15px 12px";
@refresh-gray: "0 -1338px 15px 12px";
@relation: "0 -1350px 26px 26px";
@reset: "0 -1376px 26px 26px";
@rotate-anti: "0 -1402px 20px 20px";
@rotate: "0 -1422px 20px 20px";
@save-small: "0 -1442px 16px 16px";
@save: "0 -1458px 26px 26px";
@search: "0 -1484px 14px 14px";
@secure: "0 -1498px 26px 26px";
@select-blue: "0 -1524px 17px 18px";
@select-gray: "0 -1542px 17px 18px";
@send: "0 -1560px 26px 26px";
@setting-small-gray: "0 -1586px 12px 12px";
@setting-small: "0 -1598px 12px 12px";
@setting: "0 -1610px 26px 26px";
@signout: "0 -1636px 12px 12px";
@sort-asc: "0 -1648px 8px 11px";
@sort-desc: "0 -1659px 8px 11px";
@status-error: "0 -1670px 9px 9px";
@status-normal: "0 -1679px 19px 19px";
@status-off: "0 -1698px 9px 9px";
@status-on: "0 -1707px 9px 9px";
@status-warning: "0 -1716px 9px 9px";
@switch: "0 -1725px 28px 28px";
@tick: "0 -1753px 14px 12px";
@trash: "0 -1765px 26px 26px";
@triangle-down-black: "0 -1791px 11px 12px";
@triangle-right-black: "0 -1803px 12px 11px";
@undo-blue: "0 -1814px 15px 13px";
@undo-gray: "0 -1827px 15px 13px";
@upload: "0 -1840px 26px 26px";
@uploads: "0 -1866px 26px 26px";
@users: "0 -1892px 16px 12px";
@warning-small: "0 -1904px 12px 12px";
@warning: "0 -1916px 28px 24px";

.sprite (@sprite) {
	background: url(./images/sprites.png) no-repeat e( `@{sprite}.split(' ')[0]` ) e( `@{sprite}.split(' ')[1]` );
	width: e( `@{sprite}.split(' ')[2]` );
	height: e( `@{sprite}.split(' ')[3]` );
}

.icon {
	background: url(./images/sprites.png) no-repeat -999em -999em;
	display: inline-block;

	&.add {
		background-position: 0 0;
		height: 26px;
		width: 26px;
	}

	&.angle-right-white {
		background-position: 0 -26px;
		height: 9px;
		width: 5px;
	}

	&.back {
		background-position: 0 -35px;
		height: 26px;
		width: 26px;
	}

	&.c-sharp {
		background-position: 0 -61px;
		height: 16px;
		width: 16px;
	}

	&.caret-down-black {
		background-position: 0 -77px;
		height: 4px;
		width: 7px;
	}

	&.caret-down-blue {
		background-position: 0 -81px;
		height: 9px;
		width: 19px;
	}

	&.caret-hollow-right-black {
		background-position: 0 -90px;
		height: 9px;
		width: 6px;
	}

	&.caret-hollow-right-gray {
		background-position: 0 -99px;
		height: 9px;
		width: 6px;
	}

	&.caret-rightbottom-black {
		background-position: 0 -108px;
		height: 6px;
		width: 6px;
	}

	&.caret-rightbottom-gray {
		background-position: 0 -114px;
		height: 6px;
		width: 6px;
	}

	&.caret-toggle {
		background-position: 0 -120px;
		height: 10px;
		width: 7px;
	}

	&.caret-up-black {
		background-position: 0 -130px;
		height: 4px;
		width: 7px;
	}

	&.checkbox-checked-disabled {
		background-position: 0 -134px;
		height: 15px;
		width: 15px;
	}

	&.checkbox-checked {
		background-position: 0 -149px;
		height: 15px;
		width: 15px;
	}

	&.checkbox-disabled {
		background-position: 0 -164px;
		height: 15px;
		width: 15px;
	}

	&.checkbox {
		background-position: 0 -179px;
		height: 15px;
		width: 15px;
	}

	&.chevron-circle-down {
		background-position: 0 -194px;
		height: 16px;
		width: 16px;
	}

	&.chevron-circle-up {
		background-position: 0 -210px;
		height: 16px;
		width: 16px;
	}

	&.chevron-down-black {
		background-position: 0 -226px;
		height: 6px;
		width: 8px;
	}

	&.chevron-down-gray {
		background-position: 0 -232px;
		height: 6px;
		width: 8px;
	}

	&.chevron-down-white {
		background-position: 0 -238px;
		height: 6px;
		width: 8px;
	}

	&.chevron-left-black {
		background-position: 0 -244px;
		height: 8px;
		width: 6px;
	}

	&.chevron-left-gray {
		background-position: 0 -252px;
		height: 8px;
		width: 6px;
	}

	&.chevron-left-white {
		background-position: 0 -260px;
		height: 8px;
		width: 6px;
	}

	&.chevron-right-black {
		background-position: 0 -268px;
		height: 8px;
		width: 6px;
	}

	&.chevron-right-gray {
		background-position: 0 -276px;
		height: 8px;
		width: 6px;
	}

	&.chevron-right-white {
		background-position: 0 -284px;
		height: 8px;
		width: 6px;
	}

	&.chevron-up-black {
		background-position: 0 -292px;
		height: 6px;
		width: 8px;
	}

	&.chevron-up-gray {
		background-position: 0 -298px;
		height: 6px;
		width: 8px;
	}

	&.chevron-up-white {
		background-position: 0 -304px;
		height: 6px;
		width: 8px;
	}

	&.clock {
		background-position: 0 -310px;
		height: 16px;
		width: 16px;
	}

	&.cluster {
		background-position: 0 -326px;
		height: 16px;
		width: 17px;
	}

	&.cross-mini-black {
		background-position: 0 -342px;
		height: 8px;
		width: 8px;
	}

	&.cross-mini-white {
		background-position: 0 -350px;
		height: 8px;
		width: 8px;
	}

	&.cross-small-red {
		background-position: 0 -358px;
		height: 12px;
		width: 12px;
	}

	&.cross-white {
		background-position: 0 -370px;
		height: 14px;
		width: 14px;
	}

	&.delete {
		background-position: 0 -384px;
		height: 26px;
		width: 26px;
	}

	&.drag {
		background-position: 0 -410px;
		height: 18px;
		width: 6px;
	}

	&.edit-small {
		background-position: 0 -428px;
		height: 16px;
		width: 16px;
	}

	&.edit {
		background-position: 0 -444px;
		height: 26px;
		width: 26px;
	}

	&.export {
		background-position: 0 -470px;
		height: 26px;
		width: 26px;
	}

	&.file-doc {
		background-position: 0 -496px;
		height: 16px;
		width: 16px;
	}

	&.file-empty {
		background-position: 0 -512px;
		height: 16px;
		width: 16px;
	}

	&.file-image {
		background-position: 0 -528px;
		height: 16px;
		width: 16px;
	}

	&.flip-x {
		background-position: 0 -544px;
		height: 22px;
		width: 26px;
	}

	&.flip-y {
		background-position: 0 -566px;
		height: 26px;
		width: 22px;
	}

	&.folder-add {
		background-position: 0 -592px;
		height: 26px;
		width: 26px;
	}

	&.folder-blue {
		background-position: 0 -618px;
		height: 13px;
		width: 16px;
	}

	&.folder-white {
		background-position: 0 -631px;
		height: 13px;
		width: 16px;
	}

	&.global-small {
		background-position: 0 -644px;
		height: 12px;
		width: 13px;
	}

	&.grid-gray {
		background-position: 0 -656px;
		height: 14px;
		width: 20px;
	}

	&.grid-white {
		background-position: 0 -670px;
		height: 14px;
		width: 20px;
	}

	&.home-gray {
		background-position: 0 -684px;
		height: 14px;
		width: 32px;
	}

	&.home-white {
		background-position: 0 -698px;
		height: 14px;
		width: 32px;
	}

	&.import {
		background-position: 0 -712px;
		height: 26px;
		width: 26px;
	}

	&.inline-edit {
		background-position: 0 -738px;
		height: 16px;
		width: 16px;
	}

	&.input {
		background-position: 0 -754px;
		height: 26px;
		width: 26px;
	}

	&.insert-page {
		background-position: 0 -780px;
		height: 16px;
		width: 16px;
	}

	&.insert {
		background-position: 0 -796px;
		height: 16px;
		width: 16px;
	}

	&.layout {
		background-position: 0 -812px;
		height: 12px;
		width: 14px;
	}

	&.list-gray {
		background-position: 0 -824px;
		height: 14px;
		width: 17px;
	}

	&.list-white {
		background-position: 0 -838px;
		height: 14px;
		width: 17px;
	}

	&.localize {
		background-position: 0 -852px;
		height: 26px;
		width: 26px;
	}

	&.media-library {
		background-position: 0 -878px;
		height: 15px;
		width: 15px;
	}

	&.minus-black {
		background-position: 0 -893px;
		height: 14px;
		width: 14px;
	}

	&.minus-mini {
		background-position: 0 -907px;
		height: 11px;
		width: 11px;
	}

	&.minus-small {
		background-position: 0 -918px;
		height: 16px;
		width: 16px;
	}

	&.minus-white {
		background-position: 0 -934px;
		height: 14px;
		width: 14px;
	}

	&.minus {
		background-position: 0 -948px;
		height: 28px;
		width: 28px;
	}

	&.module {
		background-position: 0 -976px;
		height: 12px;
		width: 12px;
	}

	&.new-tag-blue {
		background-position: 0 -988px;
		height: 16px;
		width: 16px;
	}

	&.new-tag-small-blue {
		background-position: 0 -1004px;
		height: 9px;
		width: 9px;
	}

	&.next-small {
		background-position: 0 -1013px;
		height: 16px;
		width: 16px;
	}

	&.next {
		background-position: 0 -1029px;
		height: 26px;
		width: 26px;
	}

	&.page-ab-testing {
		background-position: 0 -1055px;
		height: 17px;
		width: 17px;
	}

	&.page-inherited {
		background-position: 0 -1072px;
		height: 17px;
		width: 17px;
	}

	&.page-static {
		background-position: 0 -1089px;
		height: 17px;
		width: 17px;
	}

	&.page-unsynchronized {
		background-position: 0 -1106px;
		height: 17px;
		width: 17px;
	}

	&.plus-black {
		background-position: 0 -1123px;
		height: 14px;
		width: 14px;
	}

	&.plus-mini {
		background-position: 0 -1137px;
		height: 11px;
		width: 11px;
	}

	&.plus-small {
		background-position: 0 -1148px;
		height: 16px;
		width: 16px;
	}

	&.plus-white {
		background-position: 0 -1164px;
		height: 14px;
		width: 14px;
	}

	&.plus {
		background-position: 0 -1178px;
		height: 28px;
		width: 28px;
	}

	&.preview {
		background-position: 0 -1206px;
		height: 26px;
		width: 26px;
	}

	&.profile {
		background-position: 0 -1232px;
		height: 12px;
		width: 11px;
	}

	&.radio-checked-disabled {
		background-position: 0 -1244px;
		height: 14px;
		width: 14px;
	}

	&.radio-checked {
		background-position: 0 -1258px;
		height: 14px;
		width: 14px;
	}

	&.radio-disabled {
		background-position: 0 -1272px;
		height: 14px;
		width: 14px;
	}

	&.radio {
		background-position: 0 -1286px;
		height: 14px;
		width: 14px;
	}

	&.redo-blue {
		background-position: 0 -1300px;
		height: 13px;
		width: 15px;
	}

	&.redo-gray {
		background-position: 0 -1313px;
		height: 13px;
		width: 15px;
	}

	&.refresh-blue {
		background-position: 0 -1326px;
		height: 12px;
		width: 15px;
	}

	&.refresh-gray {
		background-position: 0 -1338px;
		height: 12px;
		width: 15px;
	}

	&.relation {
		background-position: 0 -1350px;
		height: 26px;
		width: 26px;
	}

	&.reset {
		background-position: 0 -1376px;
		height: 26px;
		width: 26px;
	}

	&.rotate-anti {
		background-position: 0 -1402px;
		height: 20px;
		width: 20px;
	}

	&.rotate {
		background-position: 0 -1422px;
		height: 20px;
		width: 20px;
	}

	&.save-small {
		background-position: 0 -1442px;
		height: 16px;
		width: 16px;
	}

	&.save {
		background-position: 0 -1458px;
		height: 26px;
		width: 26px;
	}

	&.search {
		background-position: 0 -1484px;
		height: 14px;
		width: 14px;
	}

	&.secure {
		background-position: 0 -1498px;
		height: 26px;
		width: 26px;
	}

	&.select-blue {
		background-position: 0 -1524px;
		height: 18px;
		width: 17px;
	}

	&.select-gray {
		background-position: 0 -1542px;
		height: 18px;
		width: 17px;
	}

	&.send {
		background-position: 0 -1560px;
		height: 26px;
		width: 26px;
	}

	&.setting-small-gray {
		background-position: 0 -1586px;
		height: 12px;
		width: 12px;
	}

	&.setting-small {
		background-position: 0 -1598px;
		height: 12px;
		width: 12px;
	}

	&.setting {
		background-position: 0 -1610px;
		height: 26px;
		width: 26px;
	}

	&.signout {
		background-position: 0 -1636px;
		height: 12px;
		width: 12px;
	}

	&.sort-asc {
		background-position: 0 -1648px;
		height: 11px;
		width: 8px;
	}

	&.sort-desc {
		background-position: 0 -1659px;
		height: 11px;
		width: 8px;
	}

	&.status-error {
		background-position: 0 -1670px;
		height: 9px;
		width: 9px;
	}

	&.status-normal {
		background-position: 0 -1679px;
		height: 19px;
		width: 19px;
	}

	&.status-off {
		background-position: 0 -1698px;
		height: 9px;
		width: 9px;
	}

	&.status-on {
		background-position: 0 -1707px;
		height: 9px;
		width: 9px;
	}

	&.status-warning {
		background-position: 0 -1716px;
		height: 9px;
		width: 9px;
	}

	&.switch {
		background-position: 0 -1725px;
		height: 28px;
		width: 28px;
	}

	&.tick {
		background-position: 0 -1753px;
		height: 12px;
		width: 14px;
	}

	&.trash {
		background-position: 0 -1765px;
		height: 26px;
		width: 26px;
	}

	&.triangle-down-black {
		background-position: 0 -1791px;
		height: 12px;
		width: 11px;
	}

	&.triangle-right-black {
		background-position: 0 -1803px;
		height: 11px;
		width: 12px;
	}

	&.undo-blue {
		background-position: 0 -1814px;
		height: 13px;
		width: 15px;
	}

	&.undo-gray {
		background-position: 0 -1827px;
		height: 13px;
		width: 15px;
	}

	&.upload {
		background-position: 0 -1840px;
		height: 26px;
		width: 26px;
	}

	&.uploads {
		background-position: 0 -1866px;
		height: 26px;
		width: 26px;
	}

	&.users {
		background-position: 0 -1892px;
		height: 12px;
		width: 16px;
	}

	&.warning-small {
		background-position: 0 -1904px;
		height: 12px;
		width: 12px;
	}

	&.warning {
		background-position: 0 -1916px;
		height: 24px;
		width: 28px;
	}
}
