@{    
    Layout = "~/Views/Shared/Popup.cshtml";
}
<div class="common-form in-dialog">
    @Html.Partial("_Edit")
</div>
<p class="buttons">
    <a data-ajaxform="metadataForm" class="button">@("Save".Localize())</a>
    <a class="button gray cancel">@("Cancel".Localize())</a>
</p>
<script>
    $(function () {
        $('.cancel').click(function () {            
            $.popContext.getCurrent().close();
        });
    });
</script>
