<?xml version="1.0" encoding="utf-8"?>
<Site xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>0001-01-01T00:00:00</LastUpdateDate>
	<HtmlMeta>
		<Author></Author>
		<Keywords></Keywords>
		<Description></Description>
		<Customs xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<HtmlTitle> - Sample site</HtmlTitle>
		<Canonical></Canonical>
	</HtmlMeta>
	<Membership>SampleSite</Membership>
	<SSLDetection xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Common">
		<d2p1:Key></d2p1:Key>
		<d2p1:Value></d2p1:Value>
	</SSLDetection>
	<DisplayName></DisplayName>
	<Culture>en-US</Culture>
	<Theme>Default</Theme>
	<Domains xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:string>localhost</d2p1:string>
		<d2p1:string>127.0.0.1</d2p1:string>
	</Domains>
	<SitePath></SitePath>
	<Mode>Debug</Mode>
	<Version>1.0.0.0</Version>
	<Repository>SampleSite</Repository>
	<CustomErrors i:nil="true" />
	<EnableJquery>true</EnableJquery>
	<InlineEditing>true</InlineEditing>
	<Smtp>
		<EnableSsl>false</EnableSsl>
		<From>team@kooboo.com</From>
		<Host>127.0.0.1</Host>
		<Password></Password>
		<Port>25</Port>
		<To xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
			<d3p1:string>team@kooboo.com</d3p1:string>
		</To>
		<UserName></UserName>
	</Smtp>
	<ShowSitemap>true</ShowSitemap>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<EnableVersioning>true</EnableVersioning>
	<EnableStyleEdting>true</EnableStyleEdting>
	<ResourceDomain></ResourceDomain>
	<TimeZoneId>China Standard Time</TimeZoneId>
	<Security>
		<EncryptKey>6NLKKS6K</EncryptKey>
		<TurnOnSubmissionAPI>false</TurnOnSubmissionAPI>
	</Security>
</Site>