<?xml version="1.0"?>
<menu>
  <items>
    <add name="Settings" text="Settings" action="Index" controller="Admin" visible="true" permissionGroup="" permissionName="Settings" >
      <items>
        <add name="Initialize" text="Initialize" action="InitializeModule" controller="Admin" visible="true" ></add>
      </items>
    </add>
    <add name="News" text="News" action="Index" controller="NewsAdmin" role="content manager"></add>
  </items>
</menu>