<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Extension.ModuleArea">
	<InstallingTemplate>~/Areas/SampleModule/Views/Shared/_OnInstalling.cshtml</InstallingTemplate>
	<UninstallingTemplate>~/Areas/SampleModule/Views/Shared/_OnUninstalling.cshtml</UninstallingTemplate>
	<Version>4.2.1.0</Version>
	<KoobooCMSVersion>4.2.1.0</KoobooCMSVersion>
	<DefaultSettings>
		<CustomSettings xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
			<d3p1:KeyValueOfstringstring>
				<d3p1:Key>Setting1</d3p1:Key>
				<d3p1:Value>Value1</d3p1:Value>
			</d3p1:KeyValueOfstringstring>
		</CustomSettings>
		<Entry>
			<Action>Index</Action>
			<Controller>Home</Controller>
			<LinkToEntryName i:nil="true" />
			<Name i:nil="true" />
			<Values xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		</Entry>
		<ThemeName>Default</ThemeName>
	</DefaultSettings>
	<EntryOptions>
		<EntryOption>
			<Entry>
				<Action>Index</Action>
				<Controller>News</Controller>
				<LinkToEntryName i:nil="true" />
				<Name i:nil="true" />
				<Values xmlns:d5p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			</Entry>
			<Name>NewsList</Name>
		</EntryOption>
		<EntryOption>
			<Entry>
				<Action>Categories</Action>
				<Controller>News</Controller>
				<LinkToEntryName i:nil="true" />
				<Name i:nil="true" />
				<Values xmlns:d5p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			</Entry>
			<Name>NewsCategories</Name>
		</EntryOption>
		<EntryOption>
			<Entry>
				<Action>Categories</Action>
				<Controller>Article</Controller>
				<LinkToEntryName i:nil="true" />
				<Name i:nil="true" />
				<Values xmlns:d5p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			</Entry>
			<Name>ArticleCategories</Name>
		</EntryOption>
		<EntryOption>
			<Entry>
				<Action>List</Action>
				<Controller>Article</Controller>
				<LinkToEntryName i:nil="true" />
				<Name i:nil="true" />
				<Values xmlns:d5p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			</Entry>
			<Name>ArticleList</Name>
		</EntryOption>
		<EntryOption>
			<Entry>
				<Action>Search</Action>
				<Controller>Article</Controller>
				<LinkToEntryName i:nil="true" />
				<Name i:nil="true" />
				<Values xmlns:d5p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			</Entry>
			<Name>ArticleSearch</Name>
		</EntryOption>
		<EntryOption>
			<Entry>
				<Action>LastestNews</Action>
				<Controller>News</Controller>
				<LinkToEntryName>NewsList</LinkToEntryName>
				<Name i:nil="true" />
				<Values xmlns:d5p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			</Entry>
			<Name>LastestNews</Name>
		</EntryOption>
	</EntryOptions>
</ModuleInfo>