/*
*
* image panel
* author: ronglin
* create date: 2010.06.17
*
*/

.kb-imagepanel
{
    margin: 6px;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}

.kb-imagepanel input
{
    background-color: #fff;
    display: inline;
    margin: 0px;
    padding: 1px;
    border: 1px solid #ccc;
    float: none;
}

.kb-imagepanel input.kb-url
{
    width: 177px;
}

.kb-imagepanel input.kb-alt
{
    width: 234px;
}

.kb-imagepanel input.kb-size
{
    width: 50px;
}

.kb-imagepanel input[type=text]
{
    margin: 0 5px 0 2px;
    padding: 2px 5px;
}

.kb-imagepanel .kb-btn
{
    margin: 0 5px 0 2px;
    padding: 2px 5px;
    cursor: pointer;
    color: Black;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    background: url("images/button.png") repeat-x left top;
    border: 1px solid #999; /* Do Rounding */
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.kb-imagepanel .kb-bottom
{
    margin-top: 14px;
    text-align: right;
}

.kb-imagepanel .kb-row
{
    margin-top: 4px;
    text-align: right;
}

.kb-imagepanel .kb-lib
{
    width: 50px;
}

.kb-imagepanel input.kb-linkhref
{
    width: 191px;
}

.kb-imagepanel input.kb-view
{
    width: 36px;
}

.kb-imagepanel var.kb-sep
{
    background-color:#ccc;
    height:1px;
}