/*
*
* text panel
* author: ronglin
* create date: 2010.06.22
*
*/

.kb-textpanel
{
    margin: 6px;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}

.kb-textpanel .kb-row
{
    margin-top: 4px;
}

.kb-textpanel .kb-area
{
    width: 428px;
    height: 260px;
    font-size:14px;
    color:#000;
}

.kb-textpanel .kb-btn
{
    margin-left: 4px;
    padding: 2px 5px;
    cursor: pointer;
    color: Black;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    background: url("images/button.png") repeat-x left top;
    border: 1px solid #999; /* Do Rounding */
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
