<Role xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Name>Content manager</Name><Permissions><Permission><AreaName>Contents</AreaName><Group/><Name>Content</Name></Permission><Permission><AreaName>Sites</AreaName><Group>Pages</Group><Name>Inline Editing</Name></Permission></Permissions></Role>