<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kooboo.Common" version="5.0.5305.19796" targetFramework="net45" />
  <package id="Kooboo.Common.Data" version="5.0.5304.27126" targetFramework="net45" />
  <package id="Kooboo.Common.Web" version="5.0.5305.21365" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
</packages>