/*
[Contents]

    0- Global
    1- Header
    2- Headline
    3- Main Container
    4- Main
    5- Sidebar
    6- Footer
*/

/* =0 Global
---------------------------------------------------------------------------------------------------------------------*/
.global-width {
	margin: 0 auto;
	width: 1000px;
}
/* =1 Header
---------------------------------------------------------------------------------------------------------------------*/
#header {
	height: 75px;
	margin-bottom: 20px;
}

/* LOGO */
.logo {
	float: left;
	margin: 20px 0 0 0;
}

/* Quicklink */
.quicklink {
	float: right;
	margin: 10px 10px 0 0;
}

/* Menu */
.menu {
	clear: right;
	float: right;
	margin-top: 17px;
}

/* =2 headline
---------------------------------------------------------------------------------------------------------------------*/
#headline {
	margin-bottom: 20px;
}

/* =3 Main Container
---------------------------------------------------------------------------------------------------------------------*/
#main-container {
	margin-bottom: 20px;
}

/* =4 Main
---------------------------------------------------------------------------------------------------------------------*/
#main {
	float: right;
	width: 750px;
}

/* Block */
#main .block {
	margin-bottom: 10px;
}
/* =5 Sidebar
---------------------------------------------------------------------------------------------------------------------*/
#sidebar {
	float: left;
	width: 230px;
}

/* Block */
#sidebar .block {
	margin-bottom: 30px;
}

/* =6 Footer
---------------------------------------------------------------------------------------------------------------------*/
#footer {
	padding: 5px 0 0;
}

/* Copyright */
.copyright {
	float: left;
	margin-left: 10px;
}
