<?xml version="1.0"?>
<menu>
  <items>
    <add name="SiteClusters" text="Site cluster" action="Index" controller="Home" area="Sites" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" requiredAdministrator="true"></add>
    <add name="Databases" text="Databases" action="Index" controller="Repository" area="Contents" requiredAdministrator="true"></add>
    <add name="Membership" text="Memberships" action="Index" controller="Membership" area="Membership" requiredAdministrator="true"></add>

    <add name="Sitetemplates" text="Site templates" action="Index" controller="SiteTemplate" area="Sites" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" requiredAdministrator="true"></add>
    <add name="Modules" text="Modules" action="Index" controller="ModuleManagement" area="Sites"  initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" requiredAdministrator="true"></add>
    <add name="A/BTest" text="A/B Test" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web"  requiredAdministrator="true">
      <items>
        <add name="A/BRules" text="A/B rules" action="Index" controller="ABRuleSetting" area="Sites" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" requiredAdministrator="true"></add>
        <add name="A/BSites" text="A/B sites" action="Index" controller="ABSiteSetting" area="Sites" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web"  requiredAdministrator="true"></add>

      </items>
    </add>

  </items>
</menu>