<?xml version="1.0"?>
<menu>
	<items>
    <add name="SiteClusters" text="Site cluster" action="Cluster" controller="Home" area="Sites" iconClass="SiteCluster" activeByAction="true" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" requiredAdministrator="true"></add>
		<add name="Relation" text="Relation" action="Relation" controller="Home" area="Sites" iconClass="Relation" activeByAction="true" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" requiredAdministrator="true"></add>		
		<add name="Databases" text="Content" action="Index" controller="Repository" area="Contents" iconClass="Databases" requiredAdministrator="true" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web"></add>
		<add name="Membership" text="Memberships" action="Index" controller="Membership" area="Membership" iconClass="Memberships" requiredAdministrator="true" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web"></add>

		<add name="Sitetemplates" text="Site templates" action="Index" controller="SiteTemplate" area="Sites" iconClass="Sitetemplates" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" requiredAdministrator="true"></add>
		<add name="Modules" text="Modules" action="Index" controller="ModuleManagement" area="Sites" iconClass="Modules" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" requiredAdministrator="true"></add>
		<add name="A/BTest" text="A/B Test" iconClass="ABtest" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web"  requiredAdministrator="true">
			<items>
				<add name="A/BRules" text="A/B rules" action="Index" controller="ABRuleSetting" area="Sites" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" requiredAdministrator="true"></add>
				<add name="A/BSites" text="A/B sites" action="Index" controller="ABSiteSetting" area="Sites" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web"  requiredAdministrator="true"></add>

			</items>
		</add>

	</items>
</menu>