<?xml version="1.0" encoding="utf-8"?>
<SearchSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Search.Models">
	<FolderName>Article</FolderName>
	<LinkPage>Articles~Detail</LinkPage>
	<RouteValueFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>UserKey</d2p1:Key>
			<d2p1:Value>{UserKey}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</RouteValueFields>
</SearchSetting>