<User xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><UserName>admin</UserName><Roles xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><a:string>OnlineService</a:string></Roles><Profile i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/></User>