<?xml version="1.0" encoding="utf-8"?>
<SubmissionSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<Name>EditMemberProfile</Name>
	<PluginType>Kooboo.CMS.Sites.Membership.EditMemberProfilePlugin, Kooboo.CMS.Sites</PluginType>
	<Settings xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>PasswordQuestion</d2p1:Key>
			<d2p1:Value>{PasswordQuestion}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>PasswordAnswer</d2p1:Key>
			<d2p1:Value>{PasswordAnswer}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Culture</d2p1:Key>
			<d2p1:Value>{Culture}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>TimeZoneId</d2p1:Key>
			<d2p1:Value>{TimeZoneId}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Profiles[0].Key</d2p1:Key>
			<d2p1:Value>FirstName</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Profiles[0].Value</d2p1:Key>
			<d2p1:Value>{FirstName}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Profiles[1].Key</d2p1:Key>
			<d2p1:Value>LastName</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Profiles[1].Value</d2p1:Key>
			<d2p1:Value>{LastName}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Profiles[2].Key</d2p1:Key>
			<d2p1:Value>Age</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Profiles[2].Value</d2p1:Key>
			<d2p1:Value>{Age}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Email</d2p1:Key>
			<d2p1:Value>{Email}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</Settings>
</SubmissionSetting>