<?xml version="1.0" encoding="utf-8"?>
<ArrayOfCustomError xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<CustomError>
		<StatusCode>SiteOfflined</StatusCode>
		<RedirectUrl>ddd</RedirectUrl>
		<RedirectType>Transfer</RedirectType>
	</CustomError>
</ArrayOfCustomError>