<?xml version="1.0" encoding="utf-8"?>
<Site xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>0001-01-01T00:00:00</LastUpdateDate>
	<HtmlMeta>
		<Author></Author>
		<Keywords></Keywords>
		<Description></Description>
		<Customs xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<HtmlTitle>- fdddddddddd</HtmlTitle>
		<Canonical></Canonical>
	</HtmlMeta>
	<DisplayName></DisplayName>
	<Culture>zh-CN</Culture>
	<Theme>Default</Theme>
	<Domains xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<SitePath></SitePath>
	<Mode>Release</Mode>
	<Version>1.0.0.0</Version>
	<Repository>Sample1</Repository>
	<CustomErrors i:nil="true" />
	<EnableJquery>true</EnableJquery>
	<InlineEditing>true</InlineEditing>
	<Smtp>
		<EnableSsl>false</EnableSsl>
		<From></From>
		<Host></Host>
		<Password></Password>
		<Port>25</Port>
		<To xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<UserName></UserName>
	</Smtp>
	<ShowSitemap>true</ShowSitemap>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<EnableVersioning>true</EnableVersioning>
	<EnableStyleEdting>true</EnableStyleEdting>
	<ResourceDomain></ResourceDomain>
	<TimeZoneId>China Standard Time</TimeZoneId>
</Site>