<?xml version="1.0" encoding="utf-8"?>
<ArrayOfUrlRedirect xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<UrlRedirect>
		<UUID>ENSJDCL3</UUID>
		<InputUrl>/fr/vols/(.+)</InputUrl>
		<OutputUrl>/fr/vols/</OutputUrl>
		<Regex>true</Regex>
		<RedirectType>Moved_Permanently_301</RedirectType>
	</UrlRedirect>
</ArrayOfUrlRedirect>