  <div id="templatemo_featured_content"><span class="nav_bg"></span>
    
     <div id="one" class="contentslider">
                    <div class="cs_wrapper">
                        <div class="cs_slider">
                         @foreach (var item in ViewBag.slidesPic){
                            <div class="cs_article">
                            	
                                <div class="left">
                                    <h2>@item.title</h2>
                                    <p>@Html.Raw(item.content)</p>
                                    <a href="#"><span>+</span>More</a>
                               	</div>
                                <div class="right">
                               <img src=@item.image alt=@item.title />
								</div>
                           </div>
              
                          }         
          				 </div><!-- End cs_slider -->
                    </div><!-- End cs_wrapper -->
                </div><!-- End contentslider -->
                
                <!-- Site JavaScript -->
               
                <div class="cleaner"></div>
   
    </div>