  <div id="templatemo_top">
    
   		<h2 @ViewHelper.Edit(ViewBag.contactPage,"title")> @Html.Raw(ViewBag.contactPage.title ?? "")</h2>
        <p @ViewHelper.Edit(ViewBag.contactPage,"content")> @Html.Raw(ViewBag.contactPage.content ?? "")</p>
   
    </div>


