/*
*   editor
*   author: ronglin
*   create date: 2010.11.23
*/

/* editor.js */
.kb-editor {
}

.kb-editor-on {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
}

.kb-editor-off {
	-moz-user-modify: read-only;
	-webkit-user-modify: read-only;
}

/* editorDate.js */
.kb-editorDate-pickerHolder {
	position: absolute;
}

.kb-editorDate-pickerHolder > .kb-pickerHolder-mask {
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	z-index: 1;
}

/* = Tinymce
---------------------------------------------------------------------------------------------------------------------*/
body div.mce-fullscreen {
	z-index: 99999;
}

body .mce-panel {
	background: #F6F6F6;
	border-color: #BABABA;
}

body .mce-path {
	line-height: 1;
	padding: 4px;
}

body .mce-path-item {
	font-size: 12px;
	line-height: 1;
}

body .mce-btn-group {
	border-left: 1px solid #DDD;
	margin-left: 4px;
	padding-left: 4px;
}

body .mce-btn-group.mce-first {
	border: none;
	padding-left: 0;
}

.mce-btn button {
	min-width: 0;
}

body .mce-btn {
	background: none;
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

body .mce-btn-group .mce-btn.mce-disabled,
body .mce-btn-group .mce-btn.mce-disabled:hover {
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

body .mce-btn-group .mce-btn.mce-disabled button {
	cursor: not-allowed;
}

body .mce-btn-group .mce-first,
body .mce-btn-group .mce-last {
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

body .mce-btn:hover,
body .mce-btn:focus,
body .mce-btn-group .mce-btn:hover,
body .mce-btn-group .mce-btn:focus {
	background: #D5E1F2;
}

body .mce-btn-group .mce-splitbtn:hover,
body .mce-btn-group .mce-splitbtn:focus {
	background: none;
}

body .mce-splitbtn button {
	border: 1px solid transparent;
	padding: 2px 3px 2px 4px;
}

body .mce-splitbtn .mce-open {
	border: 1px solid transparent;
	padding: 2px 2px 3px;
}

body .mce-splitbtn button:hover {
	background: #D5E1F2;
}

body .mce-splitbtn:hover button,
body .mce-splitbtn:hover .mce-open {
	border-color: #D5E1F2;
}

body .mce-btn.mce-active,
body .mce-btn.mce-active:hover,
body .mce-btn:active,
body .mce-btn-group .mce-btn.mce-active,
body .mce-btn-group .mce-btn.mce-active:hover,
body .mce-btn-group .mce-btn:active {
	background: #C2D5F2;
	border-color: #C2D5F2;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

body .mce-splitbtn .mce-open.mce-active {
	background: #C2D5F2;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

body .mce-menu {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
	padding: 0;
}

body .mce-menu-item.mce-active {
	background: #C2D5F2;
}

body .mce-menu-item:hover,
body .mce-menu-item.mce-selected,
body .mce-menu-item:focus {
	background: #D5E1F2;
}

body .mce-menu-item.mce-selected .mce-caret,
body .mce-menu-item:focus .mce-caret {
	border-left-color: #333;
}

body .mce-menu-item:hover .mce-ico,
body .mce-menu-item.mce-selected .mce-ico,
body .mce-menu-item:focus .mce-ico {
	color: #333;
}

body .mce-menu-item:hover .mce-text,
body .mce-menu-item.mce-selected .mce-text,
body .mce-menu-item:focus .mce-text {
	color: #333;
}

/* MCE dialog
----------------------------------------------------------*/
body .mce-window {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

body .mce-window-head .mce-close {
	min-width: 0;
}

body .mce-window .mce-btn {
	background: #CCC;
}

body .mce-window .mce-primary {
	background: #0078B1;
}

body .mce-window .mce-menubtn {
	background: #E1E1E1;
}

body .mce-textbox,
body .mce-combobox.mce-has-open input {
	border-color: #BABABA;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

body .mce-textbox:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

body .mce-combobox .mce-btn {
	background: #E1E1E1;
	border: 1px solid #BABABA;
	border-left: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

body i.mce-i-checkbox {
	background: #FFF;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* In dialog */
body.in-dialog .mce-window {
	bottom: 0;
	height: auto !important;
	left: 0 !important;
	right: 0;
	top: -40px !important;
	width: auto !important;
}

body.in-dialog .mce-container-body.mce-abs-layout {
	height: 450px !important;
}

body.in-dialog .mce-textbox.mce-multiline {
	height: 400px !important;
}

body.in-dialog .mce-foot {
	right: 0;
	width: auto !important;
}
