<?xml version="1.0" encoding="utf-8"?>
<TextFolder xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Models">
	<Name>gallery</Name>
	<DisplayName>gallery</DisplayName>
	<UtcCreationDate>2013-04-02T08:42:40.83175Z</UtcCreationDate>
	<UserId i:nil="true" />
	<NamePaths xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:string>gallery</d2p1:string>
	</NamePaths>
	<EnablePaging>true</EnablePaging>
	<Sortable>false</Sortable>
	<SchemaName>gallery</SchemaName>
	<Categories i:nil="true" />
	<EmbeddedFolders xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<WorkflowName i:nil="true" />
	<Roles xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<OrderSetting>
		<FieldName>UtcCreationDate</FieldName>
		<Direction>Descending</Direction>
	</OrderSetting>
	<VisibleOnSidebarMenu>true</VisibleOnSidebarMenu>
	<Hidden>false</Hidden>
	<PageSize>50</PageSize>
</TextFolder>