<User xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<ActivateCode i:nil="true" />
	<FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
	<IsApproved>true</IsApproved>
	<IsLockedOut>false</IsLockedOut>
	<PasswordSalt i:nil="true" />
	<UICulture>en-US</UICulture>
	<UtcLastLockoutDate i:nil="true" />
	<UtcLastLoginDate i:nil="true" />
	<UtcLastPasswordChangedDate i:nil="true" />
	<Email>admin@admin.com</Email>
	<Password i:nil="true" />
	<IsAdministrator>true</IsAdministrator>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
</User>