<User xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<ActivateCode i:nil="true" />
	<DefaultPage>/Sites/Home/Cluster</DefaultPage>
	<FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
	<GlobalRoles>Content manager</GlobalRoles>
	<IsApproved>true</IsApproved>
	<IsLockedOut>false</IsLockedOut>
	<PasswordSalt>aKEwnA2Riwo4SCzyYFfzFw==</PasswordSalt>
	<UICulture>en-US</UICulture>
	<UtcLastLockoutDate i:nil="true" />
	<UtcLastLoginDate>2014-05-12T02:31:46.1421166Z</UtcLastLoginDate>
	<UtcLastPasswordChangedDate i:nil="true" />
	<Email>admin@admin.com</Email>
	<Password>FYOL44w+oWRo53/9NQCnqa8RS00=</Password>
	<IsAdministrator>true</IsAdministrator>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
</User>