<?xml version="1.0" encoding="utf-8"?>
<User xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<Email>admin@cc.cc</Email>
	<Password>******</Password>
	<IsAdministrator>true</IsAdministrator>
	<UICulture i:nil="true" />
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringanyType>
			<d2p1:Key>FailedPasswordAttemptCount</d2p1:Key>
			<d2p1:Value xmlns:d4p1="http://www.w3.org/2001/XMLSchema" i:type="d4p1:int">0</d2p1:Value>
		</d2p1:KeyValueOfstringanyType>
	</CustomFields>
</User>