<User xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<ActivateCode i:nil="true" />
	<FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
	<IsApproved>true</IsApproved>
	<IsLockedOut>false</IsLockedOut>
	<PasswordSalt>fgW1XNI7544enet/wZjhxA==</PasswordSalt>
	<UICulture i:nil="true" />
	<UtcLastLockoutDate i:nil="true" />
	<UtcLastLoginDate>2013-12-06T01:55:48.3816079Z</UtcLastLoginDate>
	<UtcLastPasswordChangedDate i:nil="true" />
	<Email i:nil="true" />
	<Password>yxKG4GOSc4DyweXUgY+o9sBX90w=</Password>
	<IsAdministrator>false</IsAdministrator>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
</User>