<?xml version="1.0" encoding="utf-8"?>
<User xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<ActivateCode i:nil="true" />
	<Email>edito@kooboo.com</Email>
	<FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
	<IsAdministrator>false</IsAdministrator>
	<IsApproved>true</IsApproved>
	<IsLockedOut>false</IsLockedOut>
	<Password>9wVzEx/u+Y49xnjUhIpFLanJWGc=</Password>
	<PasswordSalt>gHRxyx7P/yoOPGc8kG2ERg==</PasswordSalt>
	<UICulture>zh-CN</UICulture>
	<UtcLastLockoutDate i:nil="true" />
	<UtcLastLoginDate i:nil="true" />
	<UtcLastPasswordChangedDate i:nil="true" />
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
</User>