<DatabaseSettings xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Persistence.Couchbase">
	<BucketPassword i:nil="true" />
	<BucketRAM>100</BucketRAM>
	<Password>abc123</Password>
	<ReplicaIndex>false</ReplicaIndex>
	<ReplicaNumber>0</ReplicaNumber>
	<Urls xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:anyURI>http://127.0.0.1:8091/pools</d2p1:anyURI>
	</Urls>
	<Username>sa</Username>
</DatabaseSettings>