<?xml version="1.0" encoding="utf-8"?>
<Schema xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Models">
	<Name>article</Name>
	<Columns>
		<Column>
			<Name>title</Name>
			<Label>title</Label>
			<DataType>String</DataType>
			<ControlType>TextBox</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>1</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>true</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue i:nil="true" />
			<Summarize>true</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>content</Name>
			<Label>content</Label>
			<DataType>String</DataType>
			<ControlType>TextArea</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>2</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>false</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue i:nil="true" />
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>image</Name>
			<Label>image</Label>
			<DataType>String</DataType>
			<ControlType>File</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>3</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>true</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue i:nil="true" />
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
	</Columns>
	<TemplateBuildByMachine>true</TemplateBuildByMachine>
	<IsTreeStyle>false</IsTreeStyle>
</Schema>