<?xml version="1.0" encoding="utf-8"?>
<Setting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<EnableLockout>true</EnableLockout>
	<FailedPasswordAttemptCount>5</FailedPasswordAttemptCount>
	<MinutesToUnlock>15</MinutesToUnlock>
	<PasswordInvalidMessage>The password is invalid.</PasswordInvalidMessage>
	<PasswordStrength>.{5,}</PasswordStrength>
</Setting>