<?xml version="1.0"?>
<menu>
  <items>
    <add name="MembershipSetting" text="Setting" action="Edit" controller="Membership" visible="true" initializer="Kooboo.CMS.Web2.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web2" permissionArea="Membership" permissionGroup="" permissionName="Setting"></add>
    <add name="MembershipUser" text="Members" action="Index" controller="MembershipUser" visible="true" initializer="Kooboo.CMS.Web2.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web2" permissionArea="Membership" permissionGroup="" permissionName="Member"></add>
    <add name="MembershipGroup" text="Groups" action="Index" controller="MembershipGroup" visible="true" initializer="Kooboo.CMS.Web2.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web2" permissionArea="Membership" permissionGroup="" permissionName="Group"></add>
    <add name="MembershipConnect" text="Connects" action="Index" controller="MembershipConnect" visible="true" initializer="Kooboo.CMS.Web2.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web2" permissionArea="Membership" permissionGroup="" permissionName="Connect"></add>
  </items>
</menu>