<?xml version="1.0"?>
<webResources version="20140418" mode="Debug" compact="true" compress="true" cacheDuration="2592000" >
  <references>
    <reference name="siteScripts" mimeType="text/javascript">         
      <add filename="~/Scripts/jquery.js"/>
      <add filename="~/Scripts/jquery-globalize/globalize.js"/>

      <add filename="~/Scripts/jquery.unobtrusive-ajax.js"/>
      <add filename="~/Scripts/jquery.validate.js"/>
      <add filename="~/Scripts/jquery.validate.unobtrusive.js"/>
      <add filename="~/Scripts/jquery-ui.js"/>
      <add filename="~/Scripts/jquery.ui.touch-punch.min.js"/>
      <add filename="~/Scripts/jquery.ui.resizable.js"/>
      <add filename="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js"/>
      <add filename="~/Scripts/jquery.dialogextend.js"/>
      <add filename="~/Scripts/jquery.form.custom.js"/>
      <add filename="~/Scripts/jquery.numeric.js"/>
      <add filename="~/Scripts/jquery.json-2.2.js"/>
      <add filename="~/Scripts/jquery.maskedinput.js"/>
      <add filename="~/Scripts/jquery.watermarkinput.js"/>      
      <add filename="~/Scripts/jquery.cookie.js"/>
      <add filename="~/Scripts/jquery.numeric.js"/>
      <add filename="~/Scripts/jquery.filestyle.js"/>
      <add filename="~/Scripts/jquery.autosize.js"/>
      <add filename="~/Scripts/jquery.Jcrop.js"/>
      <add filename="~/Scripts/jquery.fileDownload.js"/>
      
      <add filename="~/Scripts/knockout.js"/>
      <add filename="~/Scripts/knockout.mapping.js"/>

      <add filename="~/Scripts/underscore.js"/>

      <add filename="~/Scripts/select2.min.js"/>

      <add filename="~/Scripts/codeMirror/lib/codemirror.js" compact="false"/>
      <add filename="~/Scripts/codeMirror/mode/javascript/javascript.js"/>
      <add filename="~/Scripts/codeMirror/mode/css/css.js"/>
      <add filename="~/Scripts/codeMirror/mode/xml/xml.js"/>
      <add filename="~/Scripts/codeMirror/mode/htmlmixed/htmlmixed.js"/>
      <add filename="~/Scripts/codeMirror/addon/search/search.js"/>
      <add filename="~/Scripts/codeMirror/addon/search/searchcursor.js"/>
      <add filename="~/Scripts/codeMirror/addon/dialog/dialog.js"/>
      <add filename="~/Scripts/codeMirror/addon/fold/foldcode.js"/>
      <add filename="~/Scripts/codeMirror/addon/edit/closetag.js"/>
      <add filename="~/Scripts/codeMirror/jquery.codeMirrorBridge.js"/>

      <add filename="~/Scripts/Kooboo_CMS.js"/>
      <add filename="~/Scripts/yardiTip/yardiTip.js"/>
    </reference>

    <reference name="siteStyles" mimeType="text/css">
      <add filename="~/Styles/jquery-ui.css"/>
      <add filename="~/Styles/jquery-ui-timepicker-addon.css"/>
      <add filename="~/Styles/select2/select2.css"/>
      <add filename="~/Styles/jQuery.jCrop/jquery.Jcrop.css"/>

      <add filename="~/Styles/styles.css"/>
    </reference>

  </references>
</webResources>

<!--
  Conditional Comments - See: http://msdn.microsoft.com/en-us/library/ms537512.aspx

  Item    Example                   Comment
  IE      [if IE]                   The only currently supported feature is the string "IE", corresponding to Internet Explorer.
  value   [if IE 7]                 An integer or floating point numeral corresponding to the version of the browser. Returns a Boolean value of true if the version number matches the browser version. For more information, see Version Vectors.
  !       [if !IE]                  The NOT operator. This is placed immediately in front of the feature, operator, or subexpression to reverse the Boolean meaning of the expression.
  lt      [if lt IE 5.5]            The less-than operator. Returns true if the first argument is less than the second argument.
  lte     [if lte IE 6]             The less-than or equal operator. Returns true if the first argument is less than or equal to the second argument.
  gt      [if gt IE 5]              The greater-than operator. Returns true if the first argument is greater than the second argument.
  gte     [if gte IE 7]             The greater-than or equal operator. Returns true if the first argument is greater than or equal to the second argument.
  ( )     [if !(IE 7)]              Subexpression operators. Used in conjunction with boolean operators to create more complex expressions.
  &       [if (gt IE 5)&(lt IE 7)]  The AND operator. Returns true if all subexpressions evaluate to true
  |       [if (IE 6)|(IE 7)]        The OR operator. Returns true if any of the subexpressions evaluates to true.
  true    [if true]                 Always evaluates to true.
  false   [if false]                Always evaluates to false.
  -->