<MediaFolder xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DisplayName i:nil="true"/><UtcCreationDate>0001-01-01T00:00:00</UtcCreationDate><UserId i:nil="true"/><AllowedExtensions i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/></MediaFolder>