@model ModuleSettings
<fieldset>
    <table>
        <tbody>
            @Html.EditorFor(m => m.ThemeName)
            @Html.EditorFor(m => m.CustomSettings)          
        </tbody>
    </table>
</fieldset>
