 <div id="gallery">
            <ul>
              @foreach (var item in ViewBag.gallery){
               	<li  @ViewHelper.Edit(item)>
                	<div class="left">
                    	<a href=@item.bigImage class="pirobox" title=@item.title><img src=@item.image  alt="" /></a>
                    </div>
                    <div class="right">
                        <h5>@item.title</h5>
                        @Html.Raw(item.content)
                        <div class="button"><a href="#">Visit site <span>&raquo;</span></a> </div>
                    </div>
                    <div class="cleaner"></div>
                </li>
              }
			</ul>
      
        </div>