<?xml version="1.0"?>
<menu>
  <items>
    <add name="LocalPublishingQueue" text="Local queue" action="Index" controller="LocalPublishingQueue" area="Publishing" visible="true" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Publishing" permissionGroup="Local" permissionName="Queue"></add>

    <add name="RemotePublishing" text="Remote publishing">
      <items>
        <add name="RemoteEndpointSettings" text="Remote sites" action="Index" controller="RemoteEndpointSetting" area="Publishing" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Publishing" permissionGroup="Remote" permissionName="RemoteSites"/>
        <add name="RemoteTextFolderMapping" text="TextFolder mappings" action="Index" controller="RemoteTextFolderMapping" area="Publishing"  initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Publishing" permissionGroup="Remote" permissionName="TextFolderMapping"/>
        <add name="RemotePublishingQueue" text="Remote queue" action="Index" controller="RemotePublishingQueue" area="Publishing" visible="true" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Publishing" permissionGroup="Remote" permissionName="Queue"></add>
        <!--<add name="OutgoingQueue" text="Outgoing queue" action="Index" controller="OutgoingQueue" area="Publishing" />-->
        <add name="IncomeQueue" text="Incoming queue" action="Index" controller="IncomingQueue" area="Publishing" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Publishing" permissionGroup="Remote" permissionName="Incoming"/>
      </items>
    </add>
    <add name="PublishingLog" text="Logs" action="Index" controller="PublishingLog" area="Publishing" visible="true" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Publishing" permissionGroup="Local" permissionName="Logs">
    </add>
  </items>
</menu>