<ModuleInfo xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Extension.ModuleArea" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <InstallingTemplate>~/Areas/Publishing/Views/Shared/_OnInstalling.cshtml</InstallingTemplate>
  <UninstallingTemplate>~/Areas/Publishing/Views/Shared/_OnUninstalling.cshtml</UninstallingTemplate>
  <Version>4.2.0.0</Version>
  <KoobooCMSVersion>4.2.0.0</KoobooCMSVersion>
</ModuleInfo>