<?xml version="1.0" encoding="utf-8"?>
<ArrayOfstring xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
	<string>SampleSite</string>
	<string>SampleSite~CN</string>
	<string>Empty</string>
	<string>Test</string>
	<string>Test~CN</string>
</ArrayOfstring>