/*
*
* comboInput
* author: ronglin
* create date: 2010.05.28
*
*/

.kb-comboinput
{
    padding-right: 12px;
    border: 1px solid #ccc;
    border-right: 0px;
    cursor: pointer;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    background: url(images/textfield_dropdown.gif) no-repeat scroll right top #FFFFFF;
}

.kb-comboinput input
{
    cursor: pointer;
    border: 0px;
    padding: 1px;
    font-size: 12px;
    font: 0.9em Arial,Helvetica,sans-serif;
}

.kb-comboinput-hl
{
    border-color: #888888;
}

.kb-comboinput-disabled
{
    cursor: default;
    border-style: dashed;
}

.kb-comboinput-disabled input
{
    cursor: default;
}