<nav class="block menu">
    <ul>
        <li>
            @Html.FrontHtml().PageLink("Profile", "Member/Profile")
        </li>
        <li>
            @Html.FrontHtml().PageLink("Change password".Label(), "Member/ChangePassword")
        </li>
    </ul>
</nav>
