<?xml version="1.0" encoding="utf-8"?>
<SubmissionSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<Name>ForgotPassword</Name>
	<PluginType>Kooboo.CMS.Sites.Membership.ForgotPasswordPlugin, Kooboo.CMS.Sites</PluginType>
	<Settings xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>UserName</d2p1:Key>
			<d2p1:Value>{UserName}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>RedirectUrl</d2p1:Key>
			<d2p1:Value>~/Member/ConfirmMail</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>EmailSubject</d2p1:Key>
			<d2p1:Value>Kooboo CMS SampleSite</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>EmailBody</d2p1:Key>
			<d2p1:Value>Please click &lt;a href='{0}'&gt;here&lt;/a&gt; to reset your password.</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>ResetPasswordUrl</d2p1:Key>
			<d2p1:Value>~/Member/ResetPassword?member={0}&amp;code={1}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</Settings>
</SubmissionSetting>