<?xml version="1.0" encoding="utf-8"?>
<SubmissionSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<Name>RegisterMember</Name>
	<PluginType>Kooboo.CMS.Sites.Membership.RegisterMemberPlugin, Kooboo.CMS.Sites</PluginType>
	<Settings xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>UserName</d2p1:Key>
			<d2p1:Value>{UserName}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Email</d2p1:Key>
			<d2p1:Value>{Email}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Password</d2p1:Key>
			<d2p1:Value>{Password}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>ConfirmPassword</d2p1:Key>
			<d2p1:Value>{ConfirmPassword}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>PasswordQuestion</d2p1:Key>
			<d2p1:Value>{PasswordQuestion}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>PasswordAnswer</d2p1:Key>
			<d2p1:Value>{PasswordAnswer}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Culture</d2p1:Key>
			<d2p1:Value>{Culture}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>TimeZoneId</d2p1:Key>
			<d2p1:Value>{TimeZoneId}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Profiles[0].Key</d2p1:Key>
			<d2p1:Value>FirstName</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Profiles[0].Value</d2p1:Key>
			<d2p1:Value>{FirstName}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Profiles[1].Key</d2p1:Key>
			<d2p1:Value>LastName</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Profiles[1].Value</d2p1:Key>
			<d2p1:Value>{LastName}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>RedirectUrl</d2p1:Key>
			<d2p1:Value>~/Member/Login</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>IsApproved</d2p1:Key>
			<d2p1:Value>true</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>EmailSubject</d2p1:Key>
			<d2p1:Value>Kooboo CMS SampleSite</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>EmailBody</d2p1:Key>
			<d2p1:Value>You created Kooboo CMS samplesite account, please click &lt;a href='{0}'&gt;here&lt;/a&gt; to active your account.</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>ActivateUrl</d2p1:Key>
			<d2p1:Value>~/Member/Activate?member={0}&amp;code={1}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</Settings>
</SubmissionSetting>