<?xml version="1.0" encoding="utf-8"?>
<SubmissionSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<Name>ResetPassword</Name>
	<PluginType>Kooboo.CMS.Sites.Member.ResetPasswordPlugin, Kooboo.CMS.Sites</PluginType>
	<Settings xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Member</d2p1:Key>
			<d2p1:Value>{Member}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Password</d2p1:Key>
			<d2p1:Value>{Password}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Code</d2p1:Key>
			<d2p1:Value>{Code}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>SuccessUrl</d2p1:Key>
			<d2p1:Value>~/Member/Login</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>FailedUrl</d2p1:Key>
			<d2p1:Value></d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</Settings>
</SubmissionSetting>