 <div class="sidebar_top"></div>
    
        <div class="sidebar">
        	<a href=@Url.FrontUrl().PageUrl("home") target="_parent"><img src=@Url.FrontUrl().FileUrl("banner_240x120.jpg") alt="banner" width="240" height="120" /></a>
  		</div>
        
  		<div class="sidebar_bottom"></div>