<MysqlSettings xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Persistence.Mysql" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <ConnectionString>Server=127.0.0.1;Database=Kooboo_CMS;Uid=root;Pwd=abc123;</ConnectionString>
  <DEFAULT_CHARSET>utf8</DEFAULT_CHARSET>
  <EnableLogging>false</EnableLogging>
</MysqlSettings>