<?xml version="1.0" encoding="utf-8"?>
<SubmissionSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<Name>ContactUs</Name>
	<PluginType>Kooboo.CMS.Sites.Extension.ContactUsPlugin, Kooboo.CMS.Sites</PluginType>
	<Settings xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Body</d2p1:Key>
			<d2p1:Value>	&lt;table&gt;
			&lt;tr&gt;
			&lt;td&gt;
			From:
			&lt;/td&gt;
			&lt;td&gt;
			{from}
			&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
			&lt;td&gt;
			Subject:
			&lt;/td&gt;
			&lt;td&gt;
			{Subject}
			&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
			&lt;td&gt;
			Body:
			&lt;/td&gt;
			&lt;td&gt;
			{Body}
			&lt;/td&gt;
			&lt;/tr&gt;
			&lt;/table&gt;</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>IsBodyHtml</d2p1:Key>
			<d2p1:Value>true</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</Settings>
</SubmissionSetting>