/*
*
* image button
* author: ronglin
* create date: 2010.06.22
*
*/

.kb-imagebutton
{
    border: 1px solid #dddddd;
    cursor: pointer;
}

.kb-imagebutton-highlight
{
    border: 1px solid #888888;
}

.kb-imagebutton-disabled
{
    cursor: default;
    border: 1px dashed #dddddd;
    background-color: #ffffff;
}