<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.227/api/cmis.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService" contract="Kooboo.CMS.Modules.Publishing.Cmis.IService"
          name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>