<routeTable>
  <ignores>
    <clear/>
    <add name="axd" url="{resource}.axd/{*pathInfo}"/>
    <add name="aspx" url="{*allaspx}">
      <constraints allaspx =".*\.(aspx)(/.*)?" />
    </add>
    <add name="html" url="{*allhtml}">
      <constraints allhtml =".*\.(html|htm|shtml)(/.*)?"/>
    </add>
    <add name="cssjsimages" url="{*css}">
      <constraints css =".*\.(js|css|swf|flv|jpg|png|gif|ico)(/.*)?"/>
    </add>
    <!--<add name="allfiles" url="{*allfiles}">
				<constraints allfiles=".*\.(.*)(/.*)?"/>
			</add>-->
  </ignores>
  <routes>
    <add name="404" url="kooboo-404">
      <defaults controller = "NotFound" action = "Index"></defaults>
      <dataTokens Namespaces="Kooboo.CMS.Web.Controllers"/>
    </add>
    <add name="Robots" url="robots.txt">
      <defaults controller = "Resource" action = "RobotsTxt"></defaults>
      <dataTokens Namespaces="Kooboo.CMS.Sites.Controllers.Front"/>
    </add>
    <add name="WebResource" url="Kooboo-WebResource/Index/{name}/{version}">
      <defaults controller = "WebResource" action = "Index" version="1_0_0_0" name=""></defaults>
      <dataTokens controller="WebResource" Namespaces="Kooboo.Web.Mvc.WebResourceLoader"/>
    </add>
    <add name="Resource" url="Kooboo-Resource/{action}/{version}/{compressed}/{name}">
      <defaults controller = "Resource" action = "Execute" version="1_0_0_0" compressed="true" name=""></defaults>
      <dataTokens Namespaces="Kooboo.CMS.Sites.Controllers.Front"/>
    </add>
    <add name="Page" url="{*PageUrl}">
      <defaults controller = "Page" action = "Entry" PageUrl=""></defaults>
      <dataTokens Namespaces="Kooboo.CMS.Sites.Controllers.Front"/>
    </add>
    <!--<add name="Default" url="Default.aspx" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
  </routes>
</routeTable>
