<?xml version="1.0" encoding="utf-8"?>
<Layout xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2013-04-18T21:02:12.6645968Z</LastUpdateDate>
	<EngineName>Razor</EngineName>
	<FileExtension>.cshtml</FileExtension>
	<UserName>admin</UserName>
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
</Layout>