@model dynamic
@{
    var engines = Kooboo.CMS.Sites.View.TemplateEngines.Engines;
}
<ul class="j_DropDownContent hide">
    @foreach (var e in engines)
    {
        <li><a href="@Html.Raw(Url.Action("Create", ViewContext.RequestContext.AllRouteValues().Merge("EngineName", e.Name).Merge("return", Request.RawUrl)))">
            @e.Name</a></li>
    }
</ul>

