<?xml version="1.0"?>
<menu>
  <items>
    <add name="ApplicationManagement" text="Application" action="Index" controller="ApplicationManagement" visible="true"></add>
    <!--<add name="Settings" text="Settings" action="Index" controller="Admin" visible="true" role="administrators" >
      <items>
        <add name="Initialize" text="Initialize" action="InitializeModule" controller="Admin" visible="true" ></add>
      </items>
    </add>-->
  
  </items>
</menu>