  
        <div class="sidebar_top"></div>
        
        <div class="sidebar">
        
        	<h4>Categories</h4>
            <ul class="sidebar_menu">
               @foreach (var item in ViewBag.categaries){
                <li  @ViewHelper.Edit(item)>
       				 <a  href='@Url.FrontUrl().PageUrl("category/detail",new { UserKey = item.UserKey})' @ViewHelper.Edit(item,"title")>@item.title</a>
    			</li>
              }
               
            </ul>
        
        </div>
        
        <div class="sidebar_bottom"></div>