<?xml version="1.0" encoding="utf-8"?>
<Membership xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Membership.Models">
	<AuthCookieDomain></AuthCookieDomain>
	<AuthCookieName></AuthCookieName>
	<HashAlgorithmType>SHA1</HashAlgorithmType>
	<MaxInvalidPasswordAttempts>0</MaxInvalidPasswordAttempts>
	<MinRequiredPasswordLength>0</MinRequiredPasswordLength>
	<Name>SampleSite</Name>
	<PasswordStrengthRegularExpression></PasswordStrengthRegularExpression>
</Membership>