Hello world


<ul>
    <li>Module installation path: @ModuleContext.Current.ModulePath.GetModuleInstallationFilePath().PhysicalPath</li>
    <li>Module shared data path: @ModuleContext.Current.ModulePath.GetModuleSharedFilePath().PhysicalPath</li>
    <li>Module private data path: @ModuleContext.Current.ModulePath.GetModuleLocalFilePath().PhysicalPath</li>
</ul>