<?xml version="1.0"?>
<menu>
  <items>
    <add name="Start" text="Start" action="SiteMap" controller="Home" area="Sites" visible="true" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.StartMenuItemInitializer,Kooboo.CMS.Web">
      <!--<routeValues key="value"></routeValues>
      <htmlAttributes key="value"></htmlAttributes>-->
    </add>

    <add name="Global" text="System">
      <items>
        <add name="System" text="Settings" action="Settings" controller="Site" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="Settings">
        </add>
        <add name="Users" text="Site users" action="Index" controller="Users" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="User"></add>
        <add name="CustomErrors" text="Custom errors" action="Index" controller="customError" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="Custom error"></add>
        <add name="UrlRedirects" text="Url redirects" action="Index" controller="urlRedirect" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="Url redirect"></add>
        <add name="Robots_txt" text="Robots.txt" action="Index" controller="Robots_txt" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="Robots.txt"></add>
        <!--<add name="PublishingQueue" text="Publishing queue" action="Index" controller="PagePublishingQueue" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Pages" permissionName="Publish"></add>-->
        <add name="SystemDiagnosis" text="Diagnosis" action="Diagnosis" controller="System" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="Settings"></add>
        <add name="VisitRule" text="A/B Test" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="A/B Test">
          <items>
            <add name="ABRuleSetting" text="A/B rules" action="Index" controller="ABRuleSetting" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="A/B Test"></add>
            <add name="ABPageSetting" text="A/B page settings" action="Index" controller="ABPageSetting" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="A/B Test"></add>
            <add name="ABPageTestResult" text="A/B test reports" action="Index" controller="ABPageTestResult" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="A/B Test"></add>
          </items>
        </add>
      </items>
    </add>

    <add name="Templates" text="Development">
      <items>
        <add name="Layouts" text="Layouts" action="Index" controller="Layout" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="Layout"></add>
        <add name="Views" text="Views" action="Index" controller="View" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.ViewMenuItemInitializer,Kooboo.CMS.Web"  permissionArea="Sites" permissionGroup="Development" permissionName="View">
          <items type="Kooboo.CMS.Web.Areas.Sites.Menu.ViewNamespaceMenuItems,Kooboo.CMS.Web">
          </items>
        </add>
        <add name="Labels" text="Labels" action="Index" controller="Label" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="Label">
          <items type="Kooboo.CMS.Web.Areas.Sites.Menu.LabelMenuItems,Kooboo.CMS.Web"></items>
        </add>
        <add name="Scripts" text="Scripts" action="Index" controller="File" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.FileFolderItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="File">
          <routeValues type="Scripts"></routeValues>
          <items type="Kooboo.CMS.Web.Areas.Sites.Menu.ScriptFolderMenuItems,Kooboo.CMS.Web"></items>
        </add>
        <add name="Themes" text="Themes" action="Index" controller="File" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.FileFolderItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="File">
          <routeValues type="Themes"></routeValues>
          <items type="Kooboo.CMS.Web.Areas.Sites.Menu.ThemeFolderMenuItems,Kooboo.CMS.Web"></items>
        </add>

        <add name="CustomFiles" text="Files" action="Index" controller="File" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.FileFolderItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="File">
          <routeValues type="CustomFiles"></routeValues>
          <items type="Kooboo.CMS.Web.Areas.Sites.Menu.CustomFileFolderMenuItems,Kooboo.CMS.Web"></items>
        </add>
        <add name="Pagemapping" text="Page mapping" action="Index" controller="UrlKeyMap" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="PageMapping"></add>
        <add name="SubmissionSetting" text="Submission setting" action="Index" controller="SubmissionSetting" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="Submission setting"></add>
      </items>
    </add>

    <add name="Extensions" text="Extension">
      <items>
        <add name="Plugins" text="Plug-ins" action="Index" controller="Plugin" area="Sites"  initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Extensions" permissionName="Plugin"></add>
        <add name="Modules" text="Modules" action="Index" controller="Module" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Extensions" permissionName="Module">
        </add>
      </items>
    </add>

    <add name="Pages" text="Pages" action="Index" controller="Page" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.PageMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Page" permissionName="Edit">
      <items type="Kooboo.CMS.Web.Areas.Sites.Menu.PageMenuItems,Kooboo.CMS.Web">
      </items>
    </add>

    <add name="Repository" text="Content" initializer="Kooboo.CMS.Web.Areas.Sites.Menu.ContentFolderMenuItemInitializer,Kooboo.CMS.Web">
      <items type="Kooboo.CMS.Web.Areas.Sites.Menu.ContentFolderMenuItems,Kooboo.CMS.Web">
      </items>
    </add>
    <add name="Membership" text="Membership">
      <items type="Kooboo.CMS.Web.Areas.Sites.Menu.MembershipMenuItems,Kooboo.CMS.Web">
      </items>
    </add>
    <add name="ModuleMenu" text="Modules" type="Kooboo.CMS.Web.Areas.Sites.Menu.ModuleAreaMenuItems,Kooboo.CMS.Web">
    </add>
  </items>
</menu>