<?xml version="1.0" encoding="utf-8"?>
<WorkflowHistory xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Models">
	<WorkflowName>Workflow</WorkflowName>
	<WorkflowItemSequence>2</WorkflowItemSequence>
	<ItemDisplayName>step2</ItemDisplayName>
	<ContentFolder>Article</ContentFolder>
	<ContentUUID>7WS2EJAH86GYFYR4</ContentUUID>
	<ContentSummary>ddd</ContentSummary>
	<RoleName>Publisher</RoleName>
	<Passed>true</Passed>
	<Published>false</Published>
	<ProcessingUtcDate>2013-04-27T09:31:36.7597138Z</ProcessingUtcDate>
	<ProcessingUser>publisher</ProcessingUser>
	<Finished>true</Finished>
	<Comment>w</Comment>
</WorkflowHistory>