<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2013-04-18T21:10:10.1571624Z</LastUpdateDate>
	<IsDefault>false</IsDefault>
	<EnableTheming>true</EnableTheming>
	<EnableScript>true</EnableScript>
	<HtmlMeta>
		<Author></Author>
		<Keywords></Keywords>
		<Description></Description>
		<Customs xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<HtmlTitle></HtmlTitle>
		<Canonical></Canonical>
	</HtmlMeta>
	<Route>
		<Identifier>/Product</Identifier>
		<RoutePath>{UserKey}</RoutePath>
		<Defaults xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ExternalUrl></ExternalUrl>
		<LinkTarget i:nil="true" />
	</Route>
	<Navigation>
		<Show>false</Show>
		<DisplayText></DisplayText>
		<Order>1</Order>
		<ShowInCrumb>true</ShowInCrumb>
	</Navigation>
	<Permission>
		<Allowed></Allowed>
		<Denied></Denied>
	</Permission>
	<Layout>Default</Layout>
	<PagePositions>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>X9ZNW</PagePositionId>
			<LayoutPositionId>SEO</LayoutPositionId>
			<Order>0</Order>
			<ViewName>Product.SEO</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>KWFRY</PagePositionId>
			<LayoutPositionId>Main</LayoutPositionId>
			<Order>0</Order>
			<ViewName>Product.Detail</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
	</PagePositions>
	<DataRules>
		<DataRuleSetting>
			<DataName>Product</DataName>
			<DataRule xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataRule" i:type="d4p1:FolderDataRule">
				<d4p1:WhereClauses>
					<d4p1:WhereClause>
						<d4p1:FieldName>UserKey</d4p1:FieldName>
						<d4p1:Logical>And</d4p1:Logical>
						<d4p1:Operator>Equals</d4p1:Operator>
						<d4p1:Value1>{UserKey}</d4p1:Value1>
						<d4p1:Value2></d4p1:Value2>
					</d4p1:WhereClause>
				</d4p1:WhereClauses>
				<d4p1:SortField>UtcCreationDate</d4p1:SortField>
				<d4p1:SortDirection>Descending</d4p1:SortDirection>
				<d4p1:EnablePaging>false</d4p1:EnablePaging>
				<d4p1:PageIndex></d4p1:PageIndex>
				<d4p1:PageSize></d4p1:PageSize>
				<d4p1:Top></d4p1:Top>
				<d4p1:FolderName>Products</d4p1:FolderName>
				<d4p1:CategoryFolderName></d4p1:CategoryFolderName>
				<d4p1:CategoryClauses i:nil="true" />
			</DataRule>
			<TakeOperation>First</TakeOperation>
			<CachingDuration>0</CachingDuration>
		</DataRuleSetting>
	</DataRules>
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<PageType>Default</PageType>
	<OutputCache>
		<Duration>0</Duration>
		<EnableCaching>false</EnableCaching>
		<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
	</OutputCache>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Published>true</Published>
	<UserName>admin</UserName>
	<ContentTitle></ContentTitle>
	<Searchable>false</Searchable>
</Page>