@model IEnumerable<Kooboo.CMS.Sites.Models.Layout>
@{
    var layouts = Model.ToArray();
}
<ul class="j_DropDownContent hide">
    @if (layouts.Length == 0)
    {
        <li>@("Add a layout first".Localize())</li>
    }
    else
    {
        foreach (var l in layouts)
        {
        <li>
            @Html.ActionLink(l.Name, "Create", "Page", ViewContext.RequestContext.AllRouteValues().Merge("FullName", "").Merge("Layout", l.Name).Merge("ParentPage", ViewContext.RequestContext.GetRequestValue("FullName")).Merge("return", ViewContext.HttpContext.Request.RawUrl), new RouteValueDictionary())
        </li>
        }
    }
</ul>
