<?xml version="1.0"?>
<menu>
  <items>
    <add name="Start" text="Start" action="SiteMap" controller="Home" area="Sites" visible="true" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.StartMenuItemInitializer,Kooboo.CMS.Web">
      <!--<routeValues key="value"></routeValues>
      <htmlAttributes key="value"></htmlAttributes>-->
    </add>

    <add name="Global" text="System">
      <items>
        <add name="System" text="Settings" action="Index" controller="System" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="Settings"></add>
        <add name="Users" text="Site users" action="Index" controller="Users" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="User"></add>
        <add name="CustomErrors" text="Custom errors" action="Index" controller="customError" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="Custom error"></add>
        <add name="UrlRedirects" text="Url redirects" action="Index" controller="urlRedirect" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="Url redirect"></add>
        <add name="Robots_txt" text="Robots.txt" action="Index" controller="Robots_txt" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="Robots.txt"></add>
        <add name="PublishingQueue" text="Publishing queue" action="Index" controller="PagePublishingQueue" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Pages" permissionName="Publish"></add>
        <add name="SystemDiagnosis" text="System diagnosis" action="Index" controller="Diagnosis" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="System" permissionName="Settings"></add>
      </items>
    </add>

    <add name="Templates" text="Development">
      <items>
        <add name="Layouts" text="Layouts" action="Index" controller="Layout" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="Layout"></add>
        <add name="Views" text="Views" action="Index" controller="View" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.ViewMenuItemInitializer,Kooboo.CMS.Web"  permissionArea="Sites" permissionGroup="Development" permissionName="View">
          <items type="Kooboo.CMS.Web.Areas.Sites.Menus.ViewNamespaceMenuItems,Kooboo.CMS.Web">
          </items>
        </add>
        <add name="Labels" text="Labels" action="Index" controller="Label" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="Label">
          <items type="Kooboo.CMS.Web.Areas.Sites.Menus.LabelMenuItems,Kooboo.CMS.Web"></items>
        </add>
        <add name="Scripts" text="Scripts" action="Index" controller="Script" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="Script"></add>
        <!--<add name="Themes" text="Themes" action="Index" controller="theme" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="Theme"></add>
        <add name="Files" text="Files" action="Index" controller="CustomFile" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="File"></add>-->

        <add name="Themes" text="Themes" action="Index" controller="ThemeResource" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="Theme">
          <items type="Kooboo.CMS.Web.Areas.Sites.Menus.ThemeResourceMenuItems,Kooboo.CMS.Web"></items>

        </add>

        <add name="Files" text="Files" action="Index" controller="FileResource" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Development" permissionName="File">
          <items type="Kooboo.CMS.Web.Areas.Sites.Menus.FileResourceManeuItems,Kooboo.CMS.Web"></items>
        </add>
        <add name="UrlKeyMaps" text="Page mapping" action="Index" controller="UrlKeyMap" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Settings" permissionName="Page url"></add>
      </items>
    </add>

    <add name="Extensions" text="Extension">
      <items>
        <add name="Plugins" text="Plug-ins" action="Index" controller="Assembly" area="Sites"  initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Extensions" permissionName="Plugin"></add>
        <add name="Modules" text="Modules" action="Index" controller="Module" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Extensions" permissionName="Module">
          <!--<items type="Kooboo.CMS.Web.Areas.Sites.Menus.ModuleMenuItems,Kooboo.CMS.Web"/>-->
        </add>
      </items>
    </add>


    <add name="Pages" text="Pages" action="Index" controller="Page" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.PageMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Sites" permissionGroup="Page" permissionName="Edit">
      <items type="Kooboo.CMS.Web.Areas.Sites.Menus.PageMenuItems,Kooboo.CMS.Web">
      </items>
    </add>

    <add name="Repository" text="Database" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.ContentFolderMenuItemInitializer,Kooboo.CMS.Web">
      <items type="Kooboo.CMS.Web.Areas.Sites.Menus.ContentFolderMenuItems,Kooboo.CMS.Web">
      </items>
    </add>

    <add name="ModuleMenu" text="Modules" type="Kooboo.CMS.Web.Areas.Sites.Menus.ModuleAreaMenuItems,Kooboo.CMS.Web">     
    </add>
  </items>
</menu>