<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMembershipConnect xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Membership.Models">
	<MembershipConnect>
		<AppId></AppId>
		<AppSecret></AppSecret>
		<DisplayName>Yahoo</DisplayName>
		<Enabled>true</Enabled>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Name>Yahoo</Name>
		<Options xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<UsernameFormat></UsernameFormat>
	</MembershipConnect>
	<MembershipConnect>
		<AppId></AppId>
		<AppSecret></AppSecret>
		<DisplayName>Google</DisplayName>
		<Enabled>true</Enabled>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Name>Google</Name>
		<Options xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<UsernameFormat></UsernameFormat>
	</MembershipConnect>
	<MembershipConnect>
		<AppId>179079505600906</AppId>
		<AppSecret>a1ba69be2eec1f5016d37d2efaa3a80f</AppSecret>
		<DisplayName>Facebook</DisplayName>
		<Enabled>true</Enabled>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Name>Facebook</Name>
		<Options xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<UsernameFormat></UsernameFormat>
	</MembershipConnect>
	<MembershipConnect>
		<AppId>VD33uGSLULHPwVVYojpg</AppId>
		<AppSecret>ZqBGy06czB896innmQ8AgxXv20QWlsG5dneZRttbNI</AppSecret>
		<DisplayName>Twitter</DisplayName>
		<Enabled>true</Enabled>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Name>Twitter</Name>
		<Options xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<UsernameFormat>{0}@twitter</UsernameFormat>
	</MembershipConnect>
</ArrayOfMembershipConnect>