<?xml version="1.0" encoding="utf-8"?>
<ABRuleSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.ABTest">
	<Name>abc</Name>
	<RuleItems xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<RuleType>Language</RuleType>
</ABRuleSetting>