<div class="searchbox">
    <form class="no-stop">
        <input type="text" name="search" placeholder="Search" value="@Html.Raw(ViewContext.RequestContext.GetRequestValue("search"))" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }">
        <button type="submit">
            @Html.IconImage("search")
        </button>
    </form>
</div>
