/*
*
* inline editor anchor bar
* author: ronglin
* create date: 2011.01.28
*
*/

.kb-editoranchorbar
{
    display: none;
    position: absolute;
    width: 288px;
    height: 50px;
    padding: 2px;
    background-color: #fff;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1;
    border: 1px solid #4282C3;
    -moz-user-select: none;
    z-index: 4;
}

.kb-editoranchorbar .kb-row
{
    padding-top: 2px;
}

.kb-editoranchorbar .kb-rowhr
{
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
}

.kb-editoranchorbar .kb-msg
{
    line-height: 20px;
    color: Red;
    border: 1px solid transparent;
}

.kb-editor-hl
{
    display: inline-block;
    min-height: 20px !important;
    min-width: 100px !important;
    +border: 1px solid #4282C3 !important;
    outline: 1px solid #4282C3 !important;
    position: relative;
    z-index: 4;
}
