@model IEnumerable<Kooboo.CMS.ExtensionTemplate.Areas.BlogModule.Models.Category>
<aside id="sidebar">
    <div class="block menu">
        <ul>
            @foreach (Kooboo.CMS.ExtensionTemplate.Areas.BlogModule.Models.Category item in Model)
            {
                <li>
                    @Html.ModuleHtml().ActionLink(item.Title, "Category", new { Id = item.Id })
                </li>       
            }
        </ul>
    </div>
</aside>
