@model IEnumerable<Kooboo.CMS.ExtensionTemplate.Areas.BlogModule.Models.Blog>
<div id="main">
    <div class="block list">
        @foreach (var item in Model)
        {
            <div class="item">
                <h6 class="title">@Html.ModuleHtml().ActionLink(item.Title, "Detail", new { Id = item.Id })</h6>
                <span class="date">@item.CreateionDate.ToString("yyyy-MM-dd")</span>
                <p>@Html.Raw(item.Description)</p>
            </div>
        }
    </div>
</div>
