@model IEnumerable<Kooboo.CMS.ExtensionTemplate.Areas.BlogModule.Models.Blog>
<div class="block menu">
    <h2>@("Lastest blogs (module)".Label())</h2>
    @if (Model != null)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ModuleHtml().ActionLink(item.Title, "Detail", new { id = item.Id })
                </li>
            }
        </ul>
    }
</div>