<?xml version="1.0"?>
<menu>
  <items>
    <add name="Home" text="Start" action="Index" controller="Home" visible="true"  initializer="Kooboo.CMS.Web.Areas.Contents.Menus.ContentAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Contents" permissionGroup="" permissionName="Setting"></add>
    <add name="Settings" text="Settings" action="Index" controller="Setting" initializer="Kooboo.CMS.Web.Areas.Contents.Menus.ContentAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Contents" permissionGroup="" permissionName="Setting"></add>
    <add name="Search" text="Search" initializer="Kooboo.CMS.Web.Areas.Contents.Menus.ContentAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Contents" permissionGroup="" permissionName="SearchSetting">
      <items>
        <add name="SearchSetting" text="Settings" action="Index" controller="SearchSetting">
        </add>
        <add name="IndexDashboard" text="Index data" action="Index" controller="SearchIndex">
        </add>
      </items>
    </add>
    <add name="Schemas" text="Content type" action="index" controller="Schema"  initializer="Kooboo.CMS.Web.Areas.Contents.Menus.ContentAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Contents" permissionGroup="" permissionName="Schema"></add>
    <!--<add name="Folders" text="Folders" action="Index" controller="Folder">
      <items type="Kooboo.CMS.Web.Areas.Contents.Menus.FolderMenuItems,Kooboo.CMS.Web"/>
    </add>-->
    <add name="WorkflowSetting" text="Workflows" action="Index" controller="Workflow" permissionArea="Contents" permissionName="Workflow" initializer="Kooboo.CMS.Web.Areas.Contents.Menus.WorkflowMenuInitializer,Kooboo.CMS.Web"></add>
    <!--<add name="Workflow" text="Workflow" initializer="Kooboo.CMS.Web.Areas.Contents.Menus.WorkflowRootMenuInitializer,Kooboo.CMS.Web">
      <items>
        <add name="WorkflowSetting" text="Workflows" action="Index" controller="Workflow" permissionArea="Contents" permissionName="Workflow" initializer="Kooboo.CMS.Web.Areas.Contents.Menus.WorkflowMenuInitializer,Kooboo.CMS.Web"></add>
        <add name="PendingWorkflowItems" text="Pending workflow items" action="Index" controller="PendingWorkflow"></add>
      </items>

    </add>-->
    <add name="Broadcasting" text="Broadcasting"  permissionArea="Contents" permissionGroup="" permissionName="Broadcasting"  initializer="Kooboo.CMS.Web.Areas.Contents.Menus.BroadcastingMenuInitializer,Kooboo.CMS.Web">
      <items>
        <!--<add name="ReceivedMessage" text="ReceivedMessage" action="index" controller="ReceivedMessage"></add>-->
        <add name="SendingSetting" text="Sending setting" action="index" controller="SendingSetting"></add>
        <add name="ReceivingSetting" text="Receiving setting" action="index" controller="ReceivingSetting"></add>
      </items>
    </add>

    <add name="Contents" text="Contents" action="Index" controller="TextFolder"  initializer="Kooboo.CMS.Web.Areas.Contents.Menus.ContentAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Contents" permissionGroup="" permissionName="Content">
      <items type="Kooboo.CMS.Web.Areas.Contents.Menus.ContentMenuItems,Kooboo.CMS.Web">
      </items>
    </add>
    <add name="Media" text="Media Library" action="Index" controller="MediaContent"  initializer="Kooboo.CMS.Web.Areas.Contents.Menus.ContentAuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Contents" permissionGroup="" permissionName="Content">
      <items type="Kooboo.CMS.Web.Areas.Contents.Menus.MediaMenuItems,Kooboo.CMS.Web">
      </items>
    </add>
    <add name="HtmlBlock" text="Html block" action="Index" controller="HtmlBlock" area="Sites" initializer="Kooboo.CMS.Web.Areas.Sites.Menus.SiteAuthorizeMenuItemInitializer,Kooboo.CMS.Web"  permissionArea="Contents" permissionGroup="" permissionName="HtmlBlock"></add>
  </items>
</menu>