@model Kooboo.CMS.Web2.Areas.Contents.Models.MoveMediaContent
@{
    Layout="~/Areas/Sites/Views/Shared/Blank.cshtml";
    }
    <div class="common-form">
        @using (Html.BeginForm())
            { 
        <fieldset>
            <table id="positionFormTable">
                @Html.EditorFor(m => m.TargetFolder, new { @class = "long" })
            </table>
        </fieldset>
        <p class="buttons">
            <button type="submit">
                @("Save".Localize())</button>
        </p>
        } 
    </div>
@section ScriptCSS{
    }
