<FileServerProviderSettings xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Persistence.FileServerProvider" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <AccountKey>Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==</AccountKey>
  <AccountName>devstoreaccount1</AccountName>
  <Endpoint>http://localhost:8626/</Endpoint>
</FileServerProviderSettings>