<h3>Product</h3>
<ul class="list">
    @foreach (var item in Model)
      {
        <li>@Html.FrontHtml().PageLink(item["ProductName"], "Product/detail", new { userKey = item["UserKey"] }, new { @class="title" })
        </li>
      }
</ul>