@{
    Layout = "Design.cshtml";
}
@section HeadContentFirst{
    <script type="text/javascript">
        function getDesignerType(types) { return types['html']; }
    </script>
}
@{
    var title = "Selected Files".Localize();
    var url = Url.Action("Selection", "MediaContent", ViewContext.RequestContext.AllRouteValues()
        .Merge("area", "contents").Merge("repositoryName", Kooboo.CMS.Sites.Models.Site.Current.Repository));
}
<div class="common-form in-dialog">
    <textarea id="Textarea1" name="Html" media_library_url="@Html.Raw(url)" media_library_title="@title" class="max tinymce"></textarea>
</div>
