<?xml version="1.0" encoding="utf-8"?>
<SubmissionSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<Name>PostComment</Name>
	<PluginType>Kooboo.CMS.Sites.Extension.AddTextContentPlugin, Kooboo.CMS.Sites</PluginType>
	<Settings xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>FolderName</d2p1:Key>
			<d2p1:Value>Comment</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Published</d2p1:Key>
			<d2p1:Value>true</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>ParentFolder</d2p1:Key>
			<d2p1:Value>news</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</Settings>
</SubmissionSetting>