/*
[Contents]

	0- Global
	1- Header
	2- Main Container
	3- Main
	4- Sidebar
	5- Footer
*/

/* =0 Global
---------------------------------------------------------------------------------------------------------------------*/
#body-container {
	margin: 0 auto;
	width: 960px;
}
/* Login form
--------------------------------------------------------*/
.login-form {
	background: #FFF;
	height: 220px;
	margin: 0 auto;
	padding: 20px;
	width: 700px;
}

.login-form .title {
	font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 20px;
}

.login-form th,
.login-form td {
	padding: 5px;
}

.login-form th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	border: 1px solid #CCC;
	float: left;
	margin-right: 10px;
	padding: 3px 5px;
	width: 300px;
}

.login-form select {
	border: 1px solid #CCC;
	float: left;
	margin-right: 10px;
	padding: 3px;
}

.login-form input[type="checkbox"] {
	border: 1px solid #CCC;
	float: left;
	margin-right: 5px;
}

.login-form label.inline {
	float: left;
	line-height: 13px;
	margin-right: 10px;
}

.login-form button {
	background: #008287;
	border: none;
	color: #FFF;
	height: 26px;
	min-width: 60px;
	padding: 0 10px;
}
/* Fancybox
--------------------------------------------------------*/
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	background: #F7F7F7;
	position: absolute;
	top: 0;
	left: 0 !important;
	padding: 0;
	z-index: 1101;
	display: none;
	width: 100% !important;
}

#fancybox-content {
	width: 100% !important;
}

#fancybox-content > div {
	width: 100% !important;
}
/* =1 Header
---------------------------------------------------------------------------------------------------------------------*/
#header {
	background: #0078B1;
	color: #FFF;
	margin-bottom: 20px;
	padding: 14px;
}

#header a {
	color: #FFF;
}
/* Logo
--------------------------------------------------------*/
.logo {
	border-right: 1px solid #FFF;
	float: left;
	font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
	margin-right: 10px;
	padding-right: 10px;
}

.logo a {
	text-decoration: none;
}

.logo img {
	float: left;
	margin-right: 5px;
}
/* Nav
--------------------------------------------------------*/
.nav {
	float: left;
	margin-top: 5px;
}

.nav li {
	float: left;
	margin-right: 20px;
}

.nav a {
	text-decoration: none;
}

.nav .active a {
	border-bottom: 2px solid #FFF;
}
/* Quicklinks
--------------------------------------------------------*/
#header .quicklinks {
	float: right;
}

#header .quicklinks li {
	float: left;
	margin-left: 10px;
}

#header .quicklinks.right {
	font: 12px/1.5 "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#header .quicklinks.right strong {
	font-weight: normal;
	padding-left: 20px;
	background: url(images/icon.png) no-repeat 0 -2px;
}

#header .quicklinks.right li form button {
	padding-left: 20px;
	border: 0;
	background: url(images/icon.png) no-repeat 0 -21px;
	color: #fff;
	font: 12px/1.5 "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* =2 Main Container
---------------------------------------------------------------------------------------------------------------------*/
#main-container {
	margin-bottom: 20px;
}
/* Topbar
--------------------------------------------------------*/
.topbar {
	margin-bottom: 20px;
	padding-bottom: 10px;
	overflow: hidden;
}

.topbar .title {
	float: left;
	font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 50px;
	font-weight: normal;
	line-height: 1;
}

.topbar .back {
	background: url(images/icon-back.png) no-repeat;
	float: left;
	height: 48px;
	margin-right: 15px;
	text-indent: -9999px;
	width: 48px;
}

.topbar .searchbox {
	float: right;
	margin-top: 16px;
}

/* Searchbox
--------------------------------------------------------*/
.searchbox {
	background: #FFF;
	border: 1px solid #CCC;
}

.searchbox input {
	border: none;
	float: left;
	height: 16px;
	padding: 6px;
}

.searchbox button {
	background: url(images/icon-search.png) no-repeat center;
	border: none;
	display: block;
	float: left;
	height: 28px;
	min-width: 0;
	padding: 7px;
	text-indent: -9999px;
	width: 28px;
}

/* Common form
--------------------------------------------------------*/
.common-form .title {
	font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 20px;
}

.common-form .field {
	margin-bottom: 15px;
	overflow: hidden;
}

.common-form label {
	float: left;
	width: 200px;
}

.common-form input[type="text"] {
	border: 1px solid #CCC;
	float: left;
	margin-right: 10px;
	padding: 3px 5px;
	width: 300px;
}

.common-form textarea {
	border: 1px solid #CCC;
	float: left;
	margin-right: 10px;
	height: 200px;
	padding: 3px 5px;
	resize: none;
	width: 600px;
}

.common-form .buttons {
	padding-left: 200px;
}

.common-form button {
	background: #008287;
	border: none;
	color: #FFF;
	height: 32px;
	min-width: 90px;
	padding: 0 10px;
}

/* =3 Main
---------------------------------------------------------------------------------------------------------------------*/
#main {
	float: right;
	width: 700px;
}
/* List block
--------------------------------------------------------*/
.block.list .item {
	margin-bottom: 20px;
}

.block.list .item .title {
	font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: normal;
}

.block.list .item .title a {
	color: #000;
	text-decoration: none;
}

.block.list .item .date {
	color: #666;
}

.block.list .item p {
	border-bottom: 1px solid #CCC;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.block.list .item .comment {
	color: #666;
}

.block.list .item .highlight {
	background: #FFC40D;
}
/* Article block
--------------------------------------------------------*/
.block.article header {
	margin-bottom: 20px;
}

.block.article header .title {
	font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
}

.block.article .date {
	color: #666;
}

.block.article footer {
	border-top: 1px solid #CCC;
	padding-top: 10px;
}
/* Comment block
--------------------------------------------------------*/
.block.comment > .title {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 20px;
}

.block.comment .item {
	background: #EEE;
	color: #666;
	margin-bottom: 20px;
	padding: 10px;
	position: relative;
}

.block.comment .item .title {
	float: left;
	font-size: 14px;
}

.block.comment .item .delete {
	bottom: 6px;
	display: none;
	position: absolute;
	right: 10px;
}

.block.comment .item:hover .delete {
	display: block;
}

.block.comment .item .delete button {
	background: none;
	border: none;
	color: #999;
	cursor: pointer;
	font-size: 12px;
}

.block.comment .item .name {
	float: right;
}

.block.comment .item p {
	margin: 10px 50px 0 0;
}

.block.comment > .hint-tips{
	font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
}

/* member-form
--------------------------------------------------------*/
.member-form{
    font-size: 14px;
    line-height: 26px;
}

.member-form .member-form-main{
    float: left;
    margin-right: 50px;
    padding-right: 50px;
    border-right: 1px solid #ccc;
}

.member-form .member-form-main.single{
	border: 0;
}

.member-form .member-form-main th{
	font-weight: 400;
	text-align: left;
	white-space: nowrap;
    padding: 5px 5px 5px 0;
    width: 100px;
    overflow: hidden;
    vertical-align: top;
}
  
.member-form .member-form-main td{
    padding: 5px 5px 20px;
}
  
.member-form .member-form-main label{
    width: auto;
    float: none;
}

.member-form .member-form-main input[type="text"],
.member-form .member-form-main input[type="password"]{
	border: 1px solid #bababa;
    width: 200px;
	height: 20px;
	line-height: 20px;
	padding: 2px 9px;
}

.member-form .member-form-main select{
	width: 220px;
}

.member-form .member-form-main button{
    background: #0078b1;
}
  
.member-form .member-form-side{
    float: left;
}
  
.member-form .member-form-side p{
    font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
    padding: 60px 40px 0;
}

.member-form .member-form-side h2{
	font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.member-form .member-form-side ul{
	margin: 20px 0;
}

.member-form .member-form-side ul li button{
	display: block;
	height: 30px;
	line-height: 30px;
	padding-left: 35px;
	color: #333;
	text-align: left;
	background-color: #fff !important;
	background-image: url(images/auth.png) !important;
	background-repeat: no-repeat !important;
	cursor: pointer;
}

.member-form .member-form-side ul li button:hover{
	color: #0078b1;
}

.member-form .member-form-side ul li .facebook{
	background-position: 0 -90px;
}

.member-form .member-form-side ul li .twitter{
	background-position: 0 -60px;
}

.member-form .member-form-side ul li .google{
	background-position: 0 -30px;
}

.member-form .member-form-side ul li .microsoft{
	background-position: 0 0;
}

.member-form .member-form-side ul li .yahoo{
	background-position: 0 -120px;
}

.member-form .member-form-side ul li .linkedin{
	background-position: 0 -150px;
}

.member-form-hint{
	text-align: center;
	font-size: 18px;
	margin: 40px 0 60px;
}

/* =4 Sidebar
---------------------------------------------------------------------------------------------------------------------*/
#sidebar {
	float: left;
	width: 240px;
}
/* Menu
--------------------------------------------------------*/
.block.menu {
	background: #EBEBEB;
	padding: 10px 0;
}

.block.menu a {
	color: #000;
	display: block;
	font-size: 15px;
	padding: 5px 10px;
	text-decoration: none;
}

.block.menu a:hover,
.block.menu a.active {
	background: #0078B1;
	color: #FFF;
}

.block.menu li ul a {
	font-size: 13px;
	padding-left: 20px;
}
/* Quicklinks
--------------------------------------------------------*/
.block.quicklinks li {
	margin-bottom: 10px;
}

.block.quicklinks a {
	background: #808080;
	color: #FFF;
	display: block;
	font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 24px;
	padding: 10px;
	text-decoration: none;
}

.block.quicklinks a:hover {
	background: #0078B1;
}
/* =5 Footer
---------------------------------------------------------------------------------------------------------------------*/
#footer {
	background: #EEE;
	color: #666;
	padding: 10px;
}

#footer a {
	color: #FFF;
}
