<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2013-04-10T05:51:08.4507274Z</LastUpdateDate>
	<IsDefault>true</IsDefault>
	<EnableTheming>true</EnableTheming>
	<EnableScript>true</EnableScript>
	<HtmlMeta>
		<Author></Author>
		<Keywords></Keywords>
		<Description></Description>
		<Customs xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<HtmlTitle>Articles - Sample site</HtmlTitle>
		<Canonical></Canonical>
	</HtmlMeta>
	<Route>
		<Identifier></Identifier>
		<RoutePath>{UserKey}</RoutePath>
		<Defaults xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
			<d3p1:KeyValueOfstringstring>
				<d3p1:Key>UserKey</d3p1:Key>
				<d3p1:Value></d3p1:Value>
			</d3p1:KeyValueOfstringstring>
		</Defaults>
		<ExternalUrl></ExternalUrl>
		<LinkTarget i:nil="true" />
	</Route>
	<Navigation>
		<Show>true</Show>
		<DisplayText></DisplayText>
		<Order>2</Order>
		<ShowInCrumb>true</ShowInCrumb>
	</Navigation>
	<Permission>
		<Allowed></Allowed>
		<Denied></Denied>
	</Permission>
	<Layout>two_column</Layout>
	<PagePositions>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>99dc9dde-5450-459d-b9cd-d9a4c2c31cd9</PagePositionId>
			<LayoutPositionId>main</LayoutPositionId>
			<Order>0</Order>
			<ViewName>Article.List</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>SlidingExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>90b22bbf-973b-4929-92b9-2940afb9866b</PagePositionId>
			<LayoutPositionId>sidebar</LayoutPositionId>
			<Order>0</Order>
			<ViewName>Article.Category</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>SlidingExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="HtmlPosition">
			<PagePositionId>9QRJE</PagePositionId>
			<LayoutPositionId>sidebar</LayoutPositionId>
			<Order>1</Order>
			<Html>&lt;p&gt;Firefox page.&lt;/p&gt;</Html>
		</PagePosition>
	</PagePositions>
	<DataRules />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<PageType>Static</PageType>
	<OutputCache>
		<Duration>0</Duration>
		<EnableCaching>false</EnableCaching>
		<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
	</OutputCache>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Published>true</Published>
	<UserName>admin</UserName>
	<ContentTitle></ContentTitle>
	<Searchable>false</Searchable>
</Page>