<?xml version="1.0" encoding="utf-8"?>
<Site xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>0001-01-01T00:00:00</LastUpdateDate>
	<DisplayName></DisplayName>
	<Culture>zh-CN</Culture>
	<Theme>Default</Theme>
	<Domains xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<SitePath i:nil="true" />
	<Mode>Debug</Mode>
	<Version>1.0.0.0</Version>
	<Repository>TreeUrl</Repository>
	<CustomErrors i:nil="true" />
	<EnableJquery>true</EnableJquery>
	<InlineEditing>true</InlineEditing>
	<Smtp>
		<EnableSsl>false</EnableSsl>
		<From></From>
		<Host></Host>
		<Password></Password>
		<Port>25</Port>
		<To xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
			<d3p1:string></d3p1:string>
		</To>
		<UserName></UserName>
	</Smtp>
	<ShowSitemap>true</ShowSitemap>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<EnableVersioning>true</EnableVersioning>
	<EnableStyleEdting>true</EnableStyleEdting>
	<ResourceDomain i:nil="true" />
	<TimeZoneId i:nil="true" />
	<Security>
		<EncryptKey>6U9DWR3S</EncryptKey>
		<TurnOnSubmissionAPI>true</TurnOnSubmissionAPI>
	</Security>
</Site>