﻿@model Kooboo.CMS.Sites.Models.Security

<table>
    <tbody>
        @Html.EditorFor(m => m.EncryptKey, new { HtmlAttributes = new { @class = "medium" } })
        @Html.EditorFor(m => m.TurnOnSubmissionAPI)
    </tbody>
</table>
