 <div class="sidebar_top"></div>
        <div class="sidebar">
        	<h4>Recent comments</h4>
          @foreach (var item in ViewBag.comment){
            <div class="recent_comment_box"  @ViewHelper.Edit(item)>
                <a href="#">@item.title</a>
                <p>@Html.Raw(item.content)</p>
            </div>
          } 
            
        
        </div><div class="sidebar_bottom"></div>
        


