<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kooboo.Connect.Properties.Settings.KoobooConnect"
            connectionString="Data Source=192.168.1.125;Initial Catalog=KoobooConnect;User ID=KoobooUser;Password=abc123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>