/*
*
*   yardiTip
*   author: ronglin
*   create date: 2010.10.11
*
*/

.yardi-tip {
	display: none;
	max-width: 600px;
	position: absolute;
	text-align: left;
	z-index: 1000;
}

.yardi-tip-cache {
	border: 0;
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;
}

.yardi-tip .arrow {
	background:url(images/arrow_top.gif) no-repeat left top;
	bottom: -2px;
	height: 15px;
	position: relative;
}

.yardi-tip .yellow {
	background-image: url(images/arrow_top_yellow.gif);
}

.yardi-tip .down {
	background-image: url(images/arrow_down.gif);
	bottom: auto;
	top: -2px;
}

.yardi-tip .title {
	background-color: #FFF;
	border: 2px solid #BDB936;
	border-bottom: 0px;
	font-family: arial, verdana, sans-serif;
	font-size: 16px;
	overflow: hidden;
	padding: 1px 2px;
	white-space: nowrap;
	
	/* Do rounding */
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	
	/* Ellipsis */
	text-overflow: ellipsis; /* IE */
	-moz-binding: url('ellipsis.xml#ellipsis'); /* Firefox */
	-o-text-overflow: ellipsis; /* Opera */
}

.yardi-tip .content {
	background-color: #FFF;
	border: 2px solid #BDB936;
	border-top: 0px;
	overflow: hidden;
	
	/* Do rounding */
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}

.yardi-tip .contentwrap {
	margin: 2px 4px 4px;
}
