<Page xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <IsDefault>false</IsDefault>
  <Title>Search - Sample site</Title>
  <EnableTheming>true</EnableTheming>
  <EnableScript>true</EnableScript>
  <HtmlMeta>
    <Author/>
    <Keywords/>
    <Description/>
    <Customs xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  </HtmlMeta>
  <Route>
    <Identifier/>
    <RoutePath/>
    <Defaults i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  </Route>
  <Navigation>
    <Show>false</Show>
    <DisplayText/>
    <Order>0</Order>
    <ShowCrumb>true</ShowCrumb>
  </Navigation>
  <Permission>
    <Allowed/>
    <Denied/>
  </Permission>
  <Layout>two_column</Layout>
  <PagePositions>
    <PagePosition i:type="ViewPosition">
      <PagePositionId>A245W</PagePositionId>
      <LayoutPositionId>main</LayoutPositionId>
      <Order>0</Order>
      <ViewName>Article.Search</ViewName>
      <Parameters i:nil="true"/>
      <OutputCache>
        <Duration>0</Duration>
        <ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
      </OutputCache>
    </PagePosition>
    <PagePosition i:type="ViewPosition">
      <PagePositionId>LXFE9</PagePositionId>
      <LayoutPositionId>sidebar</LayoutPositionId>
      <Order>0</Order>
      <ViewName>Article.Category</ViewName>
      <Parameters i:nil="true"/>
      <OutputCache>
        <Duration>0</Duration>
        <ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
      </OutputCache>
    </PagePosition>
  </PagePositions>
  <DataRules/>
  <Plugins xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <PageType>Default</PageType>
  <OutputCache i:nil="true"/>
  <ShowTitle>true</ShowTitle>
  <CustomFields xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
    <a:KeyValueOfstringanyType>
      <a:Key>Field1</a:Key>
      <a:Value i:type="b:string" xmlns:b="http://www.w3.org/2001/XMLSchema">false</a:Value>
    </a:KeyValueOfstringanyType>
    <a:KeyValueOfstringanyType>
      <a:Key>Field2</a:Key>
      <a:Value i:type="b:string" xmlns:b="http://www.w3.org/2001/XMLSchema"/>
    </a:KeyValueOfstringanyType>
  </CustomFields>
  <Published>true</Published>
  <UserName>admin</UserName>
</Page>