<?xml version="1.0" encoding="utf-8"?>
<Site xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>0001-01-01T00:00:00</LastUpdateDate>
	<HtmlMeta i:nil="true" />
	<DisplayName></DisplayName>
	<Culture>it-IT</Culture>
	<Theme>Default</Theme>
	<Domains xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<SitePath i:nil="true" />
	<Mode>Debug</Mode>
	<Version>1.0.0.0</Version>
	<Repository>EN</Repository>
	<CustomErrors i:nil="true" />
	<EnableJquery>true</EnableJquery>
	<InlineEditing>true</InlineEditing>
	<Smtp>
		<EnableSsl>false</EnableSsl>
		<From>no-reply@kooboo.com</From>
		<Host>127.0.0.1</Host>
		<Password></Password>
		<Port>25</Port>
		<To xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
			<d3p1:string>no-reply@kooboo.com</d3p1:string>
		</To>
		<UserName></UserName>
	</Smtp>
	<ShowSitemap>true</ShowSitemap>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>connectionString</d2p1:Key>
			<d2p1:Value>dadsfasdfasdfasdf</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</CustomFields>
	<EnableVersioning>true</EnableVersioning>
	<EnableStyleEdting>true</EnableStyleEdting>
	<ResourceDomain i:nil="true" />
	<TimeZoneId>China Standard Time</TimeZoneId>
</Site>