
        
        	<h2>Contact Information</h2>

        <p>Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow">CSS</a>. Donec mattis egestas sem. Sed pretium, neque hendrerit rhoncus accumsan, nibh tellus pharetra neque, quis rutrum elit justo vitae sapien. Sed nec felis. Vivamus laoreet pharetra eros. </p>
        <p>In quam nibh, placerat ac, porta ac, molestie non, purus. Curabitur sem ante, condimentum non, cursus quis, eleifend non, libero. Nunc a nulla. Suspendisse vitae orci a ligula egestas bibendum. Vestibulum ultrices.   	  </p>
      <div class="cleaner_h50"></div>

            <div id="contact_form">
            
                <h4>Quick Contact</h4>
                
                <form method="post" name="contact" action="#">
                
                    <input type="hidden" name="post" value="Send" />
                    <label for="author">Name:</label> <input type="text" id="author" name="author" class="required input_field" />
                    <div class="cleaner_h10"></div>
                    
                    <label for="email">Email:</label> <input type="text" id="email" name="email" class="validate-email required input_field" />
                    <div class="cleaner_h10"></div>
                    
                  
                    <label for="text">Message:</label> <textarea id="text" name="text" rows="0" cols="0" class="required"></textarea>
                    <div class="cleaner_h10"></div>
                    
                    <input type="submit" class="submit_btn" name="submit" id="submit" value=" Send " />
                    <input type="reset" class="submit_btn" name="reset" id="reset" value=" Reset " />
                
                </form>
            
            </div> 
            
