<Repository xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DisplayName/><DBProvider i:nil="true"/><EnableBroadcasting>false</EnableBroadcasting><EnableCustomTemplate>false</EnableCustomTemplate><EnableManuallyUserKey>false</EnableManuallyUserKey></Repository>