<?xml version="1.0" encoding="utf-8"?>
<VisitRuleSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.VisitRule">
	<Name>Firefox</Name>
	<RuleItems xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:anyType i:type="UserAgentVisitRule">
			<RuleType>UserAgent</RuleType>
			<TemplateVirtualPath>~/Areas/Sites/Views/VisitRuleSetting/RuleTemplates/UserAgent.cshtml</TemplateVirtualPath>
			<Name>Firefox</Name>
			<RegexPattern>.*Firefox.*</RegexPattern>
		</d2p1:anyType>
	</RuleItems>
</VisitRuleSetting>