<?xml version="1.0" encoding="utf-8"?>
<View xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2013-07-16T03:46:07.6947019Z</LastUpdateDate>
	<EngineName>Razor</EngineName>
	<FileExtension>.cshtml</FileExtension>
	<UserName>admin</UserName>
	<DataRules>
		<DataRuleSetting>
			<DataName>Article</DataName>
			<DataRule xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataRule" i:type="d4p1:FolderDataRule">
				<d4p1:WhereClauses>
					<d4p1:WhereClause>
						<d4p1:FieldName>UserKey</d4p1:FieldName>
						<d4p1:Logical>And</d4p1:Logical>
						<d4p1:Operator>Equals</d4p1:Operator>
						<d4p1:Value1>{UserKey}</d4p1:Value1>
						<d4p1:Value2></d4p1:Value2>
					</d4p1:WhereClause>
				</d4p1:WhereClauses>
				<d4p1:SortField>UtcCreationDate</d4p1:SortField>
				<d4p1:SortDirection>Descending</d4p1:SortDirection>
				<d4p1:EnablePaging>false</d4p1:EnablePaging>
				<d4p1:PageIndex></d4p1:PageIndex>
				<d4p1:PageSize></d4p1:PageSize>
				<d4p1:Top>50</d4p1:Top>
				<d4p1:FolderName>Article</d4p1:FolderName>
				<d4p1:CategoryFolderName></d4p1:CategoryFolderName>
				<d4p1:CategoryClauses i:nil="true" />
			</DataRule>
			<TakeOperation>First</TakeOperation>
			<CachingDuration>0</CachingDuration>
		</DataRuleSetting>
	</DataRules>
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Parameters />
</View>