<Page xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><IsDefault>false</IsDefault><Title>About us - Sample site</Title><EnableTheming>true</EnableTheming><EnableScript>true</EnableScript><HtmlMeta><Author/><Keywords/><Description/><Customs xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/></HtmlMeta><Route><Identifier/><RoutePath/><Defaults i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/></Route><Navigation><Show>true</Show><DisplayText>About us</DisplayText><Order>4</Order></Navigation><Permission><Allowed/><Denied/></Permission><Layout>two_column</Layout><PagePositions><PagePosition i:type="HtmlPosition"><PagePositionId>13e6c9c0-f108-45e1-a848-21b9971ca46f</PagePositionId><LayoutPositionId>main</LayoutPositionId><Order>0</Order><Html>&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;h3&gt;&lt;strong&gt;Lorem ipsum dolor sit amet&lt;/strong&gt;&lt;/h3&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed  diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;h3&gt;&lt;strong&gt;Lorem ipsum dolor sit amet&lt;/strong&gt;&lt;/h3&gt;
&lt;p&gt;Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed  diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.&lt;/p&gt;</Html><EnableInlineEditing>true</EnableInlineEditing></PagePosition><PagePosition i:type="ViewPosition"><PagePositionId>86f9a7e0-205f-479b-9ae7-31592c173e47</PagePositionId><LayoutPositionId>sidebar</LayoutPositionId><Order>0</Order><ViewName>Article.Category</ViewName><Parameters i:nil="true"/><OutputCache><Duration>0</Duration><ExpirationPolicy>SlidingExpiration</ExpirationPolicy></OutputCache></PagePosition></PagePositions><DataRules/><Plugins xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><PageType>Default</PageType><OutputCache i:nil="true"/></Page>