<?xml version="1.0" encoding="utf-8"?>
<User xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<ActivateCode i:nil="true" />
	<FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
	<IsApproved>true</IsApproved>
	<IsLockedOut>false</IsLockedOut>
	<PasswordSalt>aKEwnA2Riwo4SCzyYFfzFw==</PasswordSalt>
	<UICulture i:nil="true" />
	<UtcLastLockoutDate i:nil="true" />
	<UtcLastLoginDate>2013-08-05T05:41:16.5224904Z</UtcLastLoginDate>
	<UtcLastPasswordChangedDate i:nil="true" />
	<Email>admin@admin.com</Email>
	<Password>FYOL44w+oWRo53/9NQCnqa8RS00=</Password>
	<IsAdministrator>true</IsAdministrator>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
</User>