<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kooboo.Common" version="5.0.5330.30638" targetFramework="net45" />
  <package id="Kooboo.Common.Data" version="5.0.5330.32188" targetFramework="net45" />
  <package id="Kooboo.Common.Web" version="5.0.5330.31266" targetFramework="net45" />
  <package id="Kooboo.Common.Windows" version="5.0.5302.32861" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
</packages>