/*
*
* index
* author: ronglin
* create date: 2011.01.27
*
*/

.kb-reset
{
    background: #fff none !important;
    background-color: transparent !important;
    background-image: none !important;
    background-repeat: no-repeat !important;
    border: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    color: #000 !important;
    cursor: default !important;
    float: none !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1 !important;
    list-style-image: none !important;
    list-style-type: none !important;
    list-style-position: inherit !important;
    margin: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    visibility: visible !important;
}

var
{
    display: block;
    color: #000000;
    line-height:1;
    font-style: normal !important;
}

.kb-page-mask
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #888888;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    z-index: 3;
}

.kb-cache
{
    width: 0px;
    height: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
