 <div id="templatemo_top">
    
   		<h2 @ViewHelper.Edit(ViewBag.portfolioPage,"title")> @Html.Raw(ViewBag.portfolioPage.title ?? "")</h2>
        <p @ViewHelper.Edit(ViewBag.portfolioPage,"content")> @Html.Raw(ViewBag.portfolioPage.content ?? "")</p>
   
    </div>


