@model Kooboo.CMS.ModuleArea.Areas.SampleModule.Models.InstallModel
<table>
    @Html.EditorFor(m => m.DatabaseServer)
    @Html.EditorFor(m => m.UserName)
    @Html.EditorFor(m => m.Password)
</table>
