<?xml version="1.0" encoding="utf-8"?>
<ABRuleSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.ABTest">
	<Name>10_40_50</Name>
	<RuleItems xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:anyType i:type="RandomVisitRule">
			<RuleType>Random</RuleType>
			<TemplateVirtualPath>~/Areas/Sites/Views/VisitRuleSetting/RuleTemplates/Random.cshtml</TemplateVirtualPath>
			<Name>10</Name>
			<Percent>10</Percent>
		</d2p1:anyType>
		<d2p1:anyType i:type="RandomVisitRule">
			<RuleType>Random</RuleType>
			<TemplateVirtualPath>~/Areas/Sites/Views/VisitRuleSetting/RuleTemplates/Random.cshtml</TemplateVirtualPath>
			<Name>40</Name>
			<Percent>40</Percent>
		</d2p1:anyType>
		<d2p1:anyType i:type="RandomVisitRule">
			<RuleType>Random</RuleType>
			<TemplateVirtualPath>~/Areas/Sites/Views/VisitRuleSetting/RuleTemplates/Random.cshtml</TemplateVirtualPath>
			<Name>50</Name>
			<Percent>50</Percent>
		</d2p1:anyType>
	</RuleItems>
	<RuleType>Random</RuleType>
</ABRuleSetting>