/*
 * HeadingPicker
 * author: Raoh
 * create date: 2013.05-02
 */
.kb-h1
{
	font-family:'Segoe UI','Helvetica Neue',openSansRegular,Arial,Helvetica,sans-serif;
	font-size:28px !important;
	font-weight:bold;
	text-decoration:none;
	text-transform:none;
	color:rgb(0, 0, 0);
}

.kb-h2
{
	font-family:"Segoe UI","Helvetica Neue",openSansRegular,Arial,Helvetica,sans-serif;
	font-size:21px !important;
	font-weight:700;
	text-decoration:none;
	text-transform:none;
	color:rgb(0, 0, 0);
}

.kb-h3
{
	font-family:"Segoe UI","Helvetica Neue",openSansRegular,Arial,Helvetica,sans-serif;
	font-size:16.3833px !important;
	font-weight:700;
	text-decoration:none;
	text-transform:none;
	color:rgb(0, 0, 0);
}

.kb-h4
{
	font-family:"Segoe UI","Helvetica Neue",openSansRegular,Arial,Helvetica,sans-serif;
	font-size:14px !important;
	font-weight:700;
	text-decoration:none;
	text-transform:none;
	color:rgb(0, 0, 0);
}

.kb-h5
{
	font-family:"Segoe UI","Helvetica Neue",openSansRegular,Arial,Helvetica,sans-serif;
	font-size:11.6167px !important;
	font-weight:700;
	text-decoration:none;
	text-transform:none;
	color:rgb(0, 0, 0);
}

.kb-h6
{
	font-family:"Segoe UI","Helvetica Neue",openSansRegular,Arial,Helvetica,sans-serif;
	font-size:10.5px !important;
	font-weight:700;
	text-decoration:none;
	text-transform:none;
	color:rgb(0, 0, 0);
}