<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.3" targetFramework="net45" />
  <package id="Kooboo.Common" version="5.0.5330.30638" targetFramework="net45" />
  <package id="Kooboo.Common.Data" version="5.0.5331.30589" targetFramework="net45" />
  <package id="Kooboo.Common.Web" version="5.0.5331.30728" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
</packages>