<h3>Comment</h3>
<ul class="list">
    @foreach (var item in Model)
      {
        <li>@Html.FrontHtml().PageLink(item["Title"], "Comment/detail", new { userKey = item["UserKey"] }, new { @class="title" })
        </li>
      }
</ul>