<?xml version="1.0" encoding="utf-8"?>
<MemberEntitySetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Member.Persistence.EntityFramework">
	<ConnectionString>Server=.\SQLExpress;Database=Kooboo_CMS; Trusted_Connection=Yes;</ConnectionString>
	<ProviderInvariantName>System.Data.SqlClient</ProviderInvariantName>
	<ProviderManifestToken>2008</ProviderManifestToken>
</MemberEntitySetting>