<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="cache.notify" type="Kooboo.CMS.Caching.NotifyRemote.CacheNotificationSection,Kooboo.CMS.Caching.NotifyRemote" requirePermission="false"/>
    <section name="routeTable" type="Kooboo.Web.Mvc.Routing.RouteTableSection, Kooboo" requirePermission="false"/>
    <section name="webResources" type="Kooboo.Web.Mvc.WebResourceLoader.Configuration.WebResourcesSection, Kooboo" requirePermission="false"/>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!-- delay: second-->
  <!--<cache.notify>
    <servers>
      <add name="localhost" url="http://127.0.0.1/sites/cache/clear" delay="0"/>
    </servers>
  </cache.notify>-->
  <routeTable configSource="routes.config"/>
  <webResources configSource="WebResources.config"/>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
    <add key="forceSSL_AdminPages" value="false"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Kooboo_CMS" connectionString="Server=.\SQLExpress;Database=Kooboo_CMS; Trusted_Connection=Yes;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="Kooboo"/>
        <add namespace="Kooboo.Extensions"/>
        <add namespace="Kooboo.Web.Mvc"/>
        <add namespace="Kooboo.Web.Mvc.Html"/>
        <add namespace="Kooboo.CMS.Sites.View"/>
        <add namespace="Kooboo.CMS.Sites.Globalization"/>
        <add namespace="Kooboo.Web.Mvc.WebResourceLoader"/>
        <add namespace="Kooboo.Globalization"/>
        <add namespace="Kooboo.Web.Mvc.Grid"/>
        <add namespace="Kooboo.Web.Mvc.Grid2"/>
        <add namespace="Kooboo.Web.Mvc.Paging"/>
        <add namespace="Kooboo.CMS.Web"/>
        <add namespace="Kooboo.CMS.Content.Models"/>
        <add namespace="Kooboo.CMS.Sites.Models"/>
        <add namespace="Kooboo.CMS.Sites.Services"/>
        <add namespace="Kooboo.CMS.Membership"/>
        <add namespace="Kooboo.CMS.Sites.Membership"/>
        <add namespace="Kooboo.CMS.Content.Query"/>
        <add namespace="Kooboo.CMS.Form"/>
        <add namespace="Kooboo.CMS.Form.Html"/>
        <add namespace="Kooboo.CMS.Sites.Extension.ModuleArea"/>
        <add namespace="Kooboo.CMS.Common.Persistence.Non_Relational"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" defaultUrl="~/Sites/home/index"/>
    </authentication>
    <pages pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="Kooboo.Extensions"/>
        <add namespace="Kooboo.Globalization"/>
        <add namespace="Kooboo.Web.Mvc"/>
        <add namespace="Kooboo.Web.Mvc.Html"/>
        <add namespace="Kooboo.Web.Mvc.Grid"/>
        <add namespace="Kooboo.Web.Mvc.Paging"/>
        <add namespace="Kooboo.Web.Mvc.WebResourceLoader"/>
        <add namespace="Kooboo.CMS.Web"/>
        <add namespace="Kooboo.CMS.Content.Models"/>
        <add namespace="Kooboo.CMS.Sites.Models"/>
        <add namespace="Kooboo.CMS.Sites.Services"/>
        <add namespace="Kooboo.CMS.Membership"/>
        <add namespace="Kooboo.CMS.Sites.Membership"/>
        <add namespace="Kooboo.CMS.Form"/>
        <add namespace="Kooboo.CMS.Form.Html"/>
        <add namespace="Kooboo.CMS.Sites.View"/>
        <add namespace="Kooboo.CMS.Sites.Globalization"/>
        <add namespace="Kooboo.CMS.Sites.Extension.ModuleArea"/>
        <add namespace="Kooboo.CMS.Common.Persistence"/>
      </namespaces>
    </pages>
    <httpModules>
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="Kooboo.CMS.Sites.Web.FrontUrlRoutingModule,Kooboo.CMS.Sites"/>
      <add name="KoobooCMSResponseHeader" type="Kooboo.CMS.Sites.Web.KoobooCMSResponseModule,Kooboo.CMS.Sites"/>
   
    </httpModules>
    <healthMonitoring>
      <providers>
        <add name="KoobooCMSTextFileProvider" type="Kooboo.CMS.Web.HealthMonitoring.TextFileWebEventProvider,Kooboo.CMS.Web"/>
      </providers>
      <rules>
        <add name="Kooboo Event Default" eventName="Kooboo Event" provider="KoobooCMSTextFileProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:30" custom=""/>
        <add name="All Errors Kooboo" eventName="All Errors" provider="KoobooCMSTextFileProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:30" custom=""/>
      </rules>
      <eventMappings>
        <add name="Kooboo Event" type="Kooboo.HealthMonitoring.WebRequestErrorEventWrapper,Kooboo" startEventCode="0" endEventCode="2147483647"/>
      </eventMappings>
    </healthMonitoring>
    <httpRuntime maxRequestLength="30000000"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="Kooboo.CMS.Sites.Web.FrontUrlRoutingModule,Kooboo.CMS.Sites"/>
      <add name="KoobooCMSResponseHeader" type="Kooboo.CMS.Sites.Web.KoobooCMSResponseModule,Kooboo.CMS.Sites"/>    
    </modules>
    <staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css" />
      <!--<clientCache  cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />-->
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>   
    <mailSettings>
      <smtp from="no-reply@kooboo.com">
        <network host="127.0.0.1"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="unsecureHttpBinding" messageEncoding="Mtom" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
        </binding>
        <binding name="secureHttpBinding" messageEncoding="Mtom" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="enableMetadata">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Kooboo.CMS.Modules.CMIS.WcfExtensions.UserValidator,Kooboo.CMS.Modules.CMIS"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Kooboo.CMS.Modules.CMIS.Services.Implementation.Service" behaviorConfiguration="enableMetadata">
        <!--<endpoint address="" contract="Kooboo.CMS.Modules.CMIS.Services.IService" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" />
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpsBinding" />-->
        <endpoint address="" binding="basicHttpBinding"  contract="Kooboo.CMS.Modules.CMIS.Services.IService" bindingConfiguration="unsecureHttpBinding"  />
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"/>
      </service>
    </services>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="api/cmis.svc" service="Kooboo.CMS.Modules.CMIS.Services.Implementation.Service" factory="Kooboo.CMS.Modules.CMIS.WcfExtensions.DIServiceHostFactory,Kooboo.CMS.Modules.CMIS" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
</configuration>