<?xml version="1.0"?>
<menu>
  <items>
    <!--<add name="Settings" text="Settings" action="Index" controller="Admin" visible="true" role="administrators" >
      <items>
        <add name="Initialize" text="Initialize" action="InitializeModule" controller="Admin" visible="true" ></add>
      </items>
    </add>-->
    <add name="Root" text="Blog">
      <items>
        <add name="Category" text="Category" action="Index" controller="Category" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Blog" permissionGroup="" permissionName="Category"></add>
        <add name="Blog" text="Blog" action="Index" controller="Blog" initializer="Kooboo.CMS.Web.Authorizations.AuthorizeMenuItemInitializer,Kooboo.CMS.Web" permissionArea="Blog" permissionGroup="" permissionName="Blog"></add>
      </items>
    </add>
  </items>
</menu>