<ModuleInfo xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Extension.ModuleArea" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <ModuleName>BlogModule</ModuleName>
  <Version>4.2.1.0</Version>
  <KoobooCMSVersion>4.2.1.0</KoobooCMSVersion>
  <InstallingTemplate>Views/Shared/_OnInstalling.cshtml</InstallingTemplate>
  <UninstallingTemplate>Views/Shared/_OnUninstalling.cshtml</UninstallingTemplate>
  <DefaultSettings>
    <CustomSettings xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
      <a:KeyValueOfstringstring>
        <a:Key>Setting1</a:Key>
        <a:Value>Value1</a:Value>
      </a:KeyValueOfstringstring>
    </CustomSettings>
    <Entry>
      <Action>Index</Action>
      <Controller>Home</Controller>
      <LinkToEntryName></LinkToEntryName>
      <Name>Blog</Name>
    </Entry>
    <ThemeName>Default</ThemeName>
  </DefaultSettings>
  <EntryOptions>
    <EntryOption>
      <Entry>
        <Action>Index</Action>
        <Controller>Home</Controller>
        <LinkToEntryName></LinkToEntryName>
        <Name>Blog</Name>
      </Entry>
      <Name>Blog</Name>
    </EntryOption>
    <EntryOption>
      <Entry>
        <Action>Category</Action>
        <Controller>Home</Controller>
        <LinkToEntryName></LinkToEntryName>
        <Name>BlogCategory</Name>
      </Entry>
      <Name>BlogCategory</Name>
    </EntryOption>
    <EntryOption>
      <Entry>
        <Action>LastestBlogs</Action>
        <Controller>Home</Controller>
        <LinkToEntryName>Blog</LinkToEntryName>
        <Name>LastestBlogs</Name>
      </Entry>
      <Name>LastestBlogs</Name>
    </EntryOption>
  </EntryOptions>
</ModuleInfo>