<?xml version="1.0" encoding="utf-8"?>
<Role xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<Name>Publisher</Name>
	<Permissions>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>Content</DisplayName>
			<Group></Group>
			<Id>Contents__Content</Id>
			<Name>Content</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Visit rule</DisplayName>
			<Group>System</Group>
			<Id>Sites_System_Visit rule</Id>
			<Name>Visit rule</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
	</Permissions>
</Role>