<div id="templatemo_footer">

        <div class="col_w270">
        	<h4>@("Follow Us".Label())</h4>
            <p>Cras a volutpat lacus. Ut nisi metus, lobortis vel egestas at, condimentum.</p>
            
            <ul id="social_box">
            	<li><a href="#"><img src=@Url.FrontUrl().FileUrl("facebook.png") alt="facebook" /></a></li>
                <li><a href="#"><img src=@Url.FrontUrl().FileUrl("twitter.png") alt="twitter" /></a></li>
                <li><a href="#"><img src=@Url.FrontUrl().FileUrl("linkedin.png") alt="linkin" /></a></li>
                <li><a href="#"><img src=@Url.FrontUrl().FileUrl("technorati.png") alt="technorati" /></a></li>
                <li><a href="#"><img src=@Url.FrontUrl().FileUrl("myspace.png") alt="myspace" /></a></li>                
            </ul>
        </div>
    	
        <div class="col_w270">
        	<h4>@("Our Pages".Label())</h4>
        	<ul>
                <li><a href=@Url.FrontUrl().PageUrl("home")>Home</a></li>
                <li><a href=@Url.FrontUrl().PageUrl("portfolio")>Portfolio</a></li>
                <li><a href=@Url.FrontUrl().PageUrl("services")>Services</a></li>
                <li><a href=@Url.FrontUrl().PageUrl("contact") class="last">Contact</a></li>
            </ul>  
        </div>
        
        <div class="col_w270 col_w270_last">
        	<h4>@("Partners".Label())</h4>
        	<ul>
                <li><a href="http://www.kooboo.com/">Kooboo CMS</a></li>
                <li><a href="http://www.kooboomail.com/">Kooboo Mail</a></li>
                <li><a href="http://www.kooboo.com/">Flash Websites</a></li>
                <li><a href="http://www.kooboo.com/">Web Templates</a></li>
            </ul>
        </div>
        
        <div class="cleaner"></div>
    </div>