@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@("External login failure".Label()</title>
</head>
<body>
    <div>
        @("Unsuccessful login with service.The reason is:".Label()) @Model
        <a href="@ViewBag.ReturnUrl">@("Back".Label())</a>
    </div>
</body>
</html>
