<?xml version="1.0" encoding="utf-8"?>
<Site xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>0001-01-01T00:00:00</LastUpdateDate>
	<DisplayName></DisplayName>
	<Culture>en-GB</Culture>
	<Theme i:nil="true" />
	<Domains xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<SitePath></SitePath>
	<Mode>Debug</Mode>
	<Version>1.0.0.0</Version>
	<Repository>SEO</Repository>
	<CustomErrors i:nil="true" />
	<EnableJquery>true</EnableJquery>
	<InlineEditing>true</InlineEditing>
	<Smtp>
		<EnableSsl>false</EnableSsl>
		<From></From>
		<Host></Host>
		<Password>whtwoiohayra!</Password>
		<Port>25</Port>
		<To xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		<UserName>admin</UserName>
	</Smtp>
	<ShowSitemap>true</ShowSitemap>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>SiteTitle</d2p1:Key>
			<d2p1:Value>Site Title</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>SiteDescription</d2p1:Key>
			<d2p1:Value>Site Description</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>SiteKeywords</d2p1:Key>
			<d2p1:Value>Site Keywords</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</CustomFields>
	<EnableVersioning>true</EnableVersioning>
	<EnableStyleEdting>true</EnableStyleEdting>
	<ResourceDomain></ResourceDomain>
	<TimeZoneId>GMT Standard Time</TimeZoneId>
	<Security>
		<EncryptKey>Q6Z6VCXT</EncryptKey>
		<TurnOnSubmissionAPI>true</TurnOnSubmissionAPI>
	</Security>
</Site>