@model Kooboo.CMS.ModuleArea.Models.News
@{
    Layout = "~/Areas/" + Kooboo.CMS.ModuleArea.Areas.SampleModule.ModuleAreaRegistration.ModuleName + "/Views/Shared/Front.cshtml";
}
<article class="block article">
    <header>
        <h2 class="title">@Model.Title</h2>
    </header>
    <section class="content">@Model.Body</section>
</article>
