@model IEnumerable<Kooboo.CMS.ModuleArea.Models.News>
@{
    Layout = "~/Areas/" + Kooboo.CMS.ModuleArea.SampleAreaRegistration.ModuleName + "/Views/Shared/Front.cshtml";
}
<div class="block menu">
    <h2>@("Lastest news".Label())</h2>
    @if (Model != null)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ModuleHtml().ActionLink(item.Title, "Detail", new { id = item.Id })
                </li>
            }
        </ul>
    }
</div>
