@model Kooboo.CMS.ModuleArea3.Models.News
@{
    Layout = "~/Areas/" + Kooboo.CMS.ModuleArea3.SampleAreaRegistration.ModuleName + "/Views/Shared/Front.cshtml";
}
<h3 class="module-title">@Model.Title</h3>
<div class="article">@Model.Body</div>
