<div class="module-command clearfix">
    <div class="module-dropdown-button">
        <span>Quicklinks</span>
        <ul>
            <li>@Html.ModuleHtml().ActionLink("AajxPartialView", "PartialRender")</li>
            <li>@Html.ModuleHtml().ActionLink("JsonSample", "OutputJson")</li>
            <li>@Html.ModuleHtml().ActionLink("DownloadSample", "Download")</li>
            <li>@Html.ModuleHtml().ActionLink("About", "About")</li>
        </ul>
    </div>
</div>
