<div class="block quicklinks">
    <ul>
        <li>@Html.ModuleHtml().ActionLink("AajxPartialView", "PartialRender")</li>
        <li>@Html.ModuleHtml().ActionLink("JsonSample", "OutputJson")</li>
        <li>@Html.ModuleHtml().ActionLink("DownloadSample", "Download")</li>
    </ul>
</div>
